<div class="container" data-ng-controller="HeaderController">
    <div class="navbar navbar-fixed-top navbar-inverse navbar-tall">
        <div class="navbar-header">
            <button class="navbar-toggle" type="button" data-ng-click="toggleCollapsibleMenu()">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a data-ng-click="switchBind('home')" href="/#!/" class="navbar-brand">
                <span>
                    <i class="glyphicon glyphicon-cloud navbar-logo"></i>
                    <i class="glyphicon glyphicon-th"></i>
                </span>
                <!--&nbsp;CloudyBoard-->
            </a>
        </div>
        <nav class="collapse navbar-collapse" collapse="!isCollapsed" role="navigation">
            <!--<ul class="nav navbar-nav" data-ng-if="menu.shouldRender(authentication.user);">-->
            <ul class="nav navbar-nav">
                <li data-ng-repeat="item in menu.items| orderBy: 'position'" ng-switch="item.menuItemType" ui-route="{{item.uiRoute}}" class="{{item.menuItemClass}}" ng-class="{active: ($uiRoute)}" dropdown="item.menuItemType === 'dropdown'">
                    <a data-ng-click="switchBind(item.title)" ng-switch-when="dropdown" class="dropdown-toggle">
                        <span data-ng-bind="item.title"></span>
                        <b class="caret"></b>
                    </a>
                    <ul ng-switch-when="dropdown" class="dropdown-menu">
                        <li data-ng-repeat="subitem in item.items| orderBy: 'position'" ui-route="{{subitem.uiRoute}}" ng-class="{active: $uiRoute}">
                            <a href="/#!/{{subitem.link}}" data-ng-bind="subitem.title"></a>
                        </li>
                    </ul>
                    <a data-ng-click="switchBind(item.title)" ng-switch-default href="/#!/{{item.link}}" data-ng-bind="item.title"></a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right" data-ng-hide="facebook.loggedIn">
                <!--                <li ui-route="/signup" ng-class="{active: $uiRoute}">
                                    <a href="/#!/signup">Sign Up</a>
                                </li>-->
                <!--<li class="divider-vertical"></li>-->
                <li ui-route="/signin" ng-class="{active: $uiRoute}">
                    <!--<a href="/#!/signin">Sign in</a>-->
                    <!--<a class="header-facebook-logo" href="/auth/facebook{{oldUrl}}"><span class="header-facebook-f" >f</span>Login with <strong>Facebook</strong></a>-->
                    <a class="header-facebook-logo" data-ng-click="facebook.login()"><span class="header-facebook-f" >f</span>Login with <strong>Facebook</strong></a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right" data-ng-show="facebook.loggedIn">
                <li class="dropdown">
                    <a href="#!" class="dropdown-toggle" data-toggle="dropdown">
                        <span>
                            <img class="user-img" ng-src='{{facebook.img}}' alt="Avatar"/>
                        </span>
                        <span data-ng-bind="facebook.me.first_name"></span> <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <!--                        <li>
                                                    <a href="/#!/settings/profile">Edit Profile</a>
                                                </li>-->
                        <!--                        <li>
                                                    <a href="/#!/settings/accounts">Manage Social Accounts</a>
                                                </li>-->
                        <!--                        <li data-ng-show="authentication.user.provider === 'local'">
                                                    <a href="/#!/settings/password">Change Password</a>
                                                </li>
                                                <li class="divider"></li>-->
                        <li>
                            <a data-ng-click="facebook.logout()"><span class="header-facebook-f" >f</span>Logout</a>
                            <!--<a href="/auth/signout{{oldUrl}}">Logout</a>-->
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</div>