<section class="home-page" data-ng-controller="HomeController">
    <!--Banner-->
    <div class="row">
        <div class="jumbotron text-center">
            <div class="row">
                <div class="home-heading">
                    <!--<img alt="MEAN.JS" class="img-responsive text-center" src="modules/core/img/brand/logo.png" />-->
                    <span class="navbar-logo">
                        <i class="glyphicon glyphicon-cloud"></i>
                        <i class="glyphicon glyphicon-th"></i>
                    </span>
                    &nbsp;CloudyBoard
                </div>
            </div>
            <br>
            <div class="row">
                <p class="lead">
                    Never easier to play board games with friends
                </p>
            </div>
        </div>
    </div>

    <!--Body-->
    <div class="home-body row">
        <div data-ng-repeat="game in games" 
             class="home-body-game col-xs-24 col-sm-12 col-md-12 col-lg-12">
            <a href="{{game.link}}">
                <div class="bs-callout text-center panel-game-{{$index + 1}}">
                    <h2>{{game.name}}</h2>
                </div>
            </a>
        </div>
    </div>
</section>