<div class="modal-div">
    <div class="modal-header">
        <h3 class="modal-title"><strong>Information</strong></h3>
    </div>
    <div class="modal-body">
        <p>
            {{info}}
        </p>
    </div>
    <div class="modal-footer">
        <button class="btn btn-md btn-next" ng-click="close()">Alright</button>
    </div>
</div>