<div class="modal-div">
    <div class="modal-header">
        <h3 class="modal-title"><strong>Invitation canceled</strong></h3>
    </div>

    <div class="modal-body">
        <p>
            <strong>{{friendId}}</strong> can't play <strong>{{game}}</strong> with you right now.<br/>
        </p>
    </div>
    <div class="modal-footer">
        <button class="btn btn-md btn-next" ng-click="close()">Alright</button>
    </div>
</div>