<div class="modal-div">
    <div class="modal-header">
        <h3 class="modal-title"><strong>Invitation</strong></h3>
    </div>
    <div class="modal-body">
        <p>
            <strong>{{friendId}}</strong> invite you to play <strong>{{game}}</strong><br/>
        </p>
    </div>
    <div class="modal-footer">
        <button class="btn btn-md btn-next" ng-click="yes()">Lets do it</button>
        <button class="btn btn-md btn-ok" ng-click="no()">No thanks</button>
    </div>
</div>