<div class="modal-div">
    <div class="modal-header">
        <h3 class="modal-title"><strong>Invitation response</strong></h3>
    </div>

    <div class="modal-body">
        <p>
            <strong>{{friendId}}</strong> accepted your invitation to play<strong>{{game}}</strong><br/>
            Do you want to play now?
        </p>
    </div>
    <div class="modal-footer">
        <button class="btn btn-md btn-next" ng-click="play()">Play now</button>
        <button class="btn btn-md btn-ok" ng-click="cancle()">Cancel invitation</button>
    </div>
</div>