<!--<section class="row user-pg-authentication" data-ng-controller="AuthenticationController">
    <div class="col-xs-offset-1 col-xs-10 col-sm-6 col-sm-offset-3 col-md-offset-4 col-md-4 col-lg-offset-4 col-lg-4">
        <div class="text-center user-div-facebook">
            <a href="/auth/facebook" class="undecorated-link">
                <img class="facebook-btn" src="/modules/users/img/buttons/fb-signup.png" alt="Signup with Facebook">
            </a>
        </div>
        <h3 class="col-md-12 text-center">Or with your email</h3>
        <div class="col-md-12">
            <form name="userForm" data-ng-submit="signup()" class="signin form-horizontal" novalidate autocomplete="off">
                <fieldset>
                    <div class="form-group">
                        <div data-ng-show="error" class="user-div-error text-center text-danger">
                                <strong data-ng-bind="error"></strong>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group input-group-lg">
                            <span class="input-group-addon">
                                <i class="text-muted glyphicon glyphicon-star"></i>
                            </span>
                            <input type="text" required id="firstName" name="firstName" class="form-control" data-ng-model="credentials.firstName" placeholder="First Name">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group input-group-lg">
                            <span class="input-group-addon">
                                <i class="text-muted glyphicon glyphicon-star"></i>
                            </span>
                            <input type="text" id="lastName" name="lastName" class="form-control" data-ng-model="credentials.lastName" placeholder="Last Name">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group input-group-lg">
                            <span class="input-group-addon">
                                <i class="text-muted glyphicon glyphicon-envelope"></i>
                            </span>
                            <input type="email" id="email" name="email" class="form-control" data-ng-model="credentials.email" placeholder="Email">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group input-group-lg">
                            <span class="input-group-addon">
                                <i class="text-muted glyphicon glyphicon-user"></i>
                            </span>
                            <input type="text" id="username" name="username" class="form-control" data-ng-model="credentials.username" placeholder="Username">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group input-group-lg">
                            <span class="input-group-addon">
                                <i class="text-muted glyphicon glyphicon-asterisk"></i>
                            </span>
                            <input type="password" id="password" name="password" class="form-control" data-ng-model="credentials.password" placeholder="Password">
                        </div>
                    </div>
                    </br>
                    <div class="text-center form-group">
                        <button type="submit" class="btn btn-large btn-success btn-block">Sign up</button>
                    </div>
                    <div class="text-center form-group">
                        <a href="/#!/signin" class="show-signup">Already member?</a>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</section>-->