<!--<section class="row" data-ng-controller="AuthenticationController">
    <div class="col-xs-offset-1 col-xs-10 col-sm-6 col-sm-offset-3 col-md-offset-4 col-md-4 col-lg-offset-4 col-lg-4">
        <div class="text-center user-div-facebook">
            <a href="/auth/facebook{{oldUrl}}" class="undecorated-link">
                <img class="facebook-btn" src="/modules/users/img/buttons/fb-login.png" alt="Login with Facebook">
            </a>
        </div>
        <h4 class="col-md-12 text-center">Or with your account</h4>
        <div class="col-md-12">
            <form data-ng-submit="signin()" class="signin form-horizontal" autocomplete="off">
                <fieldset>
                    <div class="form-group">
                        <div data-ng-show="error" class="text-center text-danger">
                            <strong data-ng-bind="error"></strong>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group input-group-lg">
                            <span class="input-group-addon">
                                <i class="text-muted glyphicon glyphicon-user"></i>
                            </span>
                            <input type="text" id="username" name="username" class="form-control" data-ng-model="credentials.username" placeholder="Username">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group input-group-lg">
                            <span class="input-group-addon">
                                <i class="text-muted glyphicon glyphicon-asterisk"></i>
                            </span>
                            <input type="password" id="password" name="password" class="form-control" data-ng-model="credentials.password" placeholder="Password">
                        </div>
                    </div>
                    <br/>
                    <div class="text-center form-group">
                        <button type="submit" class="btn btn-large btn-success btn-block">Log in</button>
                    </div>
                    <div class="text-center form-group">
                        <a href="/#!/signup" class="show-signup">Not yet member?</a>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</section>-->