/*$width-xs: 316px;          //the width
$width-sm: 370px;
$width-md: 650px;
$width-lg: 768px;*/
.home-page .jumbotron {
  /*max-width: 600px;*/
  /*        margin-left: 5px;
          margin-right: 5px;*/
  margin-bottom: 7px;
  /*width: 100%;*/ }
  .home-page .jumbotron .home-heading {
    font-size: 30px;
    font-weight: 100;
    margin-right: 28px; }
    .home-page .jumbotron .home-heading .glyphicon-cloud {
      position: relative;
      top: 9px;
      left: 28px;
      z-index: 1000; }
  .home-page .jumbotron .lead {
    font-size: 12px;
    /*margin-left: 15px;*/ }
  @media (min-width: 640px) {
    .home-page .jumbotron .home-heading {
      font-size: 35px; }
      .home-page .jumbotron .home-heading .glyphicon-cloud {
        top: 10px;
        left: 30px; }
    .home-page .jumbotron .lead {
      font-size: 16px;
      /*margin-left: 25px;*/ } }
  @media (min-width: 992px) {
    .home-page .jumbotron .home-heading {
      font-size: 45px; }
      .home-page .jumbotron .home-heading .glyphicon-cloud {
        top: 12px;
        left: 43px; }
    .home-page .jumbotron .lead {
      font-size: 19px;
      /*margin-left: 25px;*/ } }
.home-page .home-body .home-body-game {
  padding: 0; }
  .home-page .home-body .home-body-game a {
    text-decoration: none; }
  .home-page .home-body .home-body-game .bs-callout {
    /*line-height: 20px;*/
    padding: 10px;
    margin: 2px 0;
    border: 1px solid white;
    /*border-left-width: 3px;*/
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    background: #eee;
    /*-ms-transition: $value;*/
    -o-transition: border 0.2s ease-in-out;
    -webkit-transition: border 0.2s ease-in-out;
    -moz-transition: border 0.2s ease-in-out;
    transition: border 0.2s ease-in-out; }
    .home-page .home-body .home-body-game .bs-callout h2 {
      font-size: 22px; }
  .home-page .home-body .home-body-game .panel-game-1 {
    /*border-left-color: nth($panel-game-colors, $i) !important;*/
    color: #1b809e; }
    .home-page .home-body .home-body-game .panel-game-1:hover, .home-page .home-body .home-body-game .panel-game-1:active, .home-page .home-body .home-body-game .panel-game-1:focus {
      border-color: #1b809e !important; }
  .home-page .home-body .home-body-game .panel-game-2 {
    /*border-left-color: nth($panel-game-colors, $i) !important;*/
    color: #037c3f; }
    @media (min-width: 640px) {
      .home-page .home-body .home-body-game .panel-game-2 {
        margin-left: 5px; } }
    .home-page .home-body .home-body-game .panel-game-2:hover, .home-page .home-body .home-body-game .panel-game-2:active, .home-page .home-body .home-body-game .panel-game-2:focus {
      border-color: #037c3f !important; }
  .home-page .home-body .home-body-game .panel-game-3 {
    /*border-left-color: nth($panel-game-colors, $i) !important;*/
    color: #ce4844; }
    .home-page .home-body .home-body-game .panel-game-3:hover, .home-page .home-body .home-body-game .panel-game-3:active, .home-page .home-body .home-body-game .panel-game-3:focus {
      border-color: #ce4844 !important; }
  .home-page .home-body .home-body-game .panel-game-4 {
    /*border-left-color: nth($panel-game-colors, $i) !important;*/
    color: #664467; }
    @media (min-width: 640px) {
      .home-page .home-body .home-body-game .panel-game-4 {
        margin-left: 5px; } }
    .home-page .home-body .home-body-game .panel-game-4:hover, .home-page .home-body .home-body-game .panel-game-4:active, .home-page .home-body .home-body-game .panel-game-4:focus {
      border-color: #664467 !important; }
  @media (min-width: 640px) {
    .home-page .home-body .home-body-game .bs-callout {
      /*height: 60px;*/
      padding: 30px; }
      .home-page .home-body .home-body-game .bs-callout h2 {
        font-size: 25px; } }
  @media (min-width: 992px) {
    .home-page .home-body .home-body-game .bs-callout {
      /*height: 60px;*/
      padding: 30px; }
      .home-page .home-body .home-body-game .bs-callout h2 {
        font-size: 30px; } }

/*# sourceMappingURL=core.css.map */
