@import "./_functions";

$background-color: #eee;

$body-xs-min: 480px;
$body-sm-min: 640px;
$body-md-min: 992px;
$body-lg-min: 1200px;

/*$width-xs: 316px;          //the width
$width-sm: 370px;
$width-md: 650px;
$width-lg: 768px;*/

$panel-game-colors: 
#1b809e, //Gomoku
#037c3f, //Chinese chess
#ce4844, // 2048
/*#fde300, //2048*/
#664467; // Sudoku

$padding-body: 7px;

.home-page {
    .jumbotron {
        /*max-width: 600px;*/
/*        margin-left: 5px;
        margin-right: 5px;*/
        margin-bottom: $padding-body;
        /*width: 100%;*/
        
        .home-heading {
            font-size: 30px;
            font-weight: 100;
            margin-right: 28px;
            
            .glyphicon-cloud {
                position: relative;
                top: 9px;
                left: 28px;
                z-index: 1000;
            }
        }
        
        .lead {
            font-size: 12px;
            /*margin-left: 15px;*/
        }
        
        @media (min-width: $body-sm-min) {
            .home-heading {
                font-size: 35px;
                
                .glyphicon-cloud {
                    top: 10px;
                    left: 30px;
                }
            }
            .lead {
                font-size: 16px;
                /*margin-left: 25px;*/
            }
        }
        @media (min-width: $body-md-min) {
            .home-heading {
                font-size: 45px;
                
                .glyphicon-cloud {
                    top: 12px;
                    left: 43px;
                }
            }
            .lead {
                font-size: 19px;
                /*margin-left: 25px;*/
            }
        }
    }
    
    .home-body {
        .home-body-game {
            padding: 0;
            
            a {
                text-decoration: none;
            }
            .bs-callout {
                /*line-height: 20px;*/
                padding: 10px;
                margin: 2px 0;
                border: 1px solid white;
                /*border-left-width: 3px;*/
                @include border-radius(6px);
                background: $background-color;    
                @include transition(border 0.2s ease-in-out);
                
                h2 {
                    font-size: 22px;
                }               
            }   
            
            @for $i from 1 through length($panel-game-colors) {
                .panel-game-#{$i} {
                    /*border-left-color: nth($panel-game-colors, $i) !important;*/
                    color: nth($panel-game-colors, $i);
                    
                    @media(min-width: $body-sm-min) {
                        @if $i % 2 == 0 {
                            margin-left:5px;
                        }
                    }
                    &:hover, &:active, &:focus{
                        border-color: nth($panel-game-colors, $i) !important;
                    }
                }
            }
            
            
            @media(min-width: $body-sm-min) {
                .bs-callout {
                    /*height: 60px;*/
                    padding: 30px;
                    h2 {
                        font-size: 25px;
                    }  
                }
            }
            
            @media(min-width: $body-md-min) {
                .bs-callout {
                    /*height: 60px;*/
                    padding: 30px;
                    h2 {
                        font-size: 30px;
                    }  
                }
            }
        }
    }
}