/*.navbar {
    margin-bottom: 0px !important;
}*/

.navbar .navbar-brand {
    line-height: 50px;
    padding: 0 15px 0 20px;
}

.navbar-nav li a {
    line-height: 50px !important;
    padding: 0 15px !important;
    /*padding-top: 0 !important;*/
/*    padding-bottom: 0 !important;*/
}

.navbar .navbar-logo {
    vertical-align: middle;
}
/*.navbar .header-facebook-logo {
    color: #3c81cc !important;
}*/
/*.navbar .header-facebook-logo:hover {
    color: #1f88f9 !important;
     color: #1b88ff !important;
}*/
.navbar .header-facebook-f {
    font-weight: bold;
    font-size: 32px;
    padding-right: 13px;
    vertical-align: sub;
    line-height: 41px;
}

/*.navbar-inverse .navbar-collapse {
    background-color: #245d9b !important;
}*/

.navbar-brand .glyphicon-cloud {
    position: absolute;
    left: 14px;
    top: 19px;
    z-index: 1000;
}

.navbar a {
    /*color: #144878 !important;*/
    font-weight: bold;
    /*    cursor: pointer;*/
    /*    &:hover {
            color: darken(#144878, 5%);
        }*/
}

.navbar .dropdown-toggle {
    margin-right: 10px;
}