html, body {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  /*color: $text-color;*/
  /*font-family: "Clear Sans", "Helvatica Neue", Arial, sans-serif !important;*/
  /*font-size: 1em;*/ }

p {
  margin-top: 0;
  margin-bottom: 10px;
  line-height: 1.65;
  display: block;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0;
  -moz-margin-start: 0;
  -webkit-margin-end: 0;
  -moz-margin-end: 0; }

strong.important {
  text-transform: uppercase; }

.modal-open {
  overflow: auto; }

.container {
  /*    width: 100% !important;
  */
  padding-left: 5px;
  padding-right: 5px;
  width: 100%; }
  @media (min-width: 640px) {
    .container {
      width: 640px; } }
  @media (min-width: 992px) {
    .container {
      width: 760px; } }
  @media (min-width: 1200px) {
    .container {
      width: 850px; } }

.content {
  margin-top: 50px; }

.cloudy-block {
  background: #eee;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  margin-bottom: 3px; }

.undecorated-link:hover {
  text-decoration: none; }

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important; }

.ng-invalid.ng-dirty {
  border-color: #FA787E; }

.ng-valid.ng-dirty {
  border-color: #78FA89; }

.user-img {
  height: 40px;
  max-width: 45px;
  margin-right: 10px;
  border-radius: 100%; }

.row {
  margin-left: 0 !important;
  margin-right: 0 !important; }

a {
  color: black;
  cursor: pointer;
  /*text-decoration: none !important;*/ }

footer {
  background-color: #eee;
  margin: 7px 0;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  padding: 15px; }
  footer .footer-brand {
    font-size: 17px;
    float: left;
    width: 58%;
    /*height: 30px;*/
    line-height: 35px; }
  footer .footer-btns {
    text-align: right;
    width: 42%;
    height: 30px;
    float: right; }
    footer .footer-btns .footer-btn {
      height: 32px;
      margin-right: 3px; }
  footer .footer-menu {
    margin-top: 10px;
    /*text-justify: auto;*/ }
    footer .footer-menu a {
      font-size: 13px;
      display: inline-block;
      margin-right: 19px;
      line-height: 20px;
      font-weight: normal;
      /*width: 30%;*/
      /*text-align: center;*/ }
  @media (min-width: 640px) {
    footer .footer-brand {
      font-size: 18px; }
    footer .footer-menu a {
      font-size: 14px; } }
  @media (min-width: 992px) {
    footer .footer-brand {
      font-size: 19px; }
    footer .footer-menu a {
      font-size: 15px; } }
  @media (min-width: 1200px) {
    footer .footer-brand {
      font-size: 20px; }
    footer .footer-menu a {
      font-size: 16px; } }

.border-toggle {
  border: 1px solid white;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  /*-ms-transition: $value;*/
  -o-transition: border 0.2s ease-in-out;
  -webkit-transition: border 0.2s ease-in-out;
  -moz-transition: border 0.2s ease-in-out;
  transition: border 0.2s ease-in-out; }

.border-toggle-lightblue:hover, .border-toggle-lightblue:active, .border-toggle-lightblue:focus {
  border-color: #1b809e; }

.scrollable {
  overflow-y: scroll;
  overflow-x: hidden;
  max-height: 300px;
  /*    @media screen and (min-width: $screen-xs-sm) {
          height: $width-xs-sm - 119px;
      }*/ }
  .scrollable .index-column {
    padding-left: 10px; }

.small-red-notice {
  color: red;
  font-size: 10px; }

/*# sourceMappingURL=layout.css.map */
