@import "./_functions";
$text-color: #776E65;
$bright-text-color: #f9f6f2; 
$background-color: #eee;
$link-color: black;

$body-xs-min: 480px;
$body-sm-min: 640px;
$body-md-min: 992px;
$body-lg-min: 1200px;

$width-xs: 460px;          //the width
$width-sm: 640px;
$width-md: 760px;
$width-lg: 850px;

$padding-body: 7px;

html, body {
    margin: 0 auto;
    padding: 0;
    width: 100%;
    /*color: $text-color;*/
    /*font-family: "Clear Sans", "Helvatica Neue", Arial, sans-serif !important;*/
    /*font-size: 1em;*/
}

p {
    margin-top: 0;
    margin-bottom: 10px;
    line-height: 1.65;
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0;
    -moz-margin-start:0;
    -webkit-margin-end: 0;
    -moz-margin-end: 0;
}

strong {
    &.important {
        text-transform: uppercase;
    }
}

.modal-open {
    overflow: auto;
}

.container {
    /*    width: 100% !important;
    */    padding-left: 5px;
    padding-right: 5px;
    width: 100%;
    @media(min-width: $body-sm-min) {
        width: $width-sm;
    }
    @media(min-width: $body-md-min) {
        width: $width-md;
    }
    @media(min-width: $body-lg-min) {
        width: $width-lg;
    }
}

.content {
    margin-top: 50px;
}

.cloudy-block {
    background: $background-color;
    @include border-radius(6px);
    margin-bottom: 3px;
}

.undecorated-link:hover {
    text-decoration: none;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}
.ng-invalid.ng-dirty {
    border-color: #FA787E;
}
.ng-valid.ng-dirty {
    border-color: #78FA89;
}

.user-img {
    height: 40px;
    max-width: 45px;
    margin-right: 10px;
    border-radius: 100%;
}

.row {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

a {
    color: $link-color;
    cursor: pointer;
    /*text-decoration: none !important;*/
}

footer {
    background-color: $background-color;
    margin: $padding-body 0;
    @include border-radius(6px);
    padding: 15px;

    .footer-brand {
        font-size: 17px;
        float: left;
        width: 58%;
        /*height: 30px;*/
        line-height: 35px;
    }
    .footer-btns {
        text-align: right;
        width: 42%;
        height: 30px;
        float: right;
        .footer-btn {
            height: 32px;
            margin-right: 3px;
        }
    }
    .footer-menu {
        margin-top: 10px;
        /*text-justify: auto;*/
        a {
            font-size: 13px;
            display: inline-block;
            margin-right: 19px;
            line-height: 20px;
            font-weight: normal;
            /*width: 30%;*/
            /*text-align: center;*/
        }
    }

    @media(min-width: $body-sm-min) {
        .footer-brand {
            font-size: 18px;
        }
        .footer-menu {
            a {
                font-size: 14px;
            }
        }
    }

    @media(min-width: $body-md-min) {
        .footer-brand {
            font-size: 19px;
        }
        .footer-menu {
            a {
                font-size: 15px;
            }
        }
    }
    @media(min-width: $body-lg-min) {
        .footer-brand {
            font-size: 20px;
        }
        .footer-menu {
            a {
                font-size: 16px;
            }
        }
    }
}

.border-toggle {
    border: 1px solid white;
    @include border-radius(6px);
    @include transition(border 0.2s ease-in-out);
}
.border-toggle-lightblue {
    &:hover, &:active, &:focus{
        border-color: #1b809e;
    }
}

.scrollable {
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 300px;
    /*    @media screen and (min-width: $screen-xs-sm) {
            height: $width-xs-sm - 119px;
        }*/

    .index-column {
        padding-left: 10px;
    }
}

.small-red-notice {
    color: red;
    font-size: 10px;
}