.navbar {
    opacity: 1;
    -webkit-transition: -webkit-transform .2s;
    -moz-transition:    -moz-transform .2s;
    -o-transition:      -o-transform .2s;
    transition:         transform .2s;

    -o-transform: translate(0,0);
    -moz-transform: translate(0,0);
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
}

.navbar-hide {
    -webkit-transition: -webkit-transform .5s;
    -moz-transition:    -moz-transform .5s;
    -o-transition:      -o-transform .5s;
    transition:         transform .5s;

    -o-transform: translate(0,-52px);
    -moz-transform: translate(0,-52px);
    -webkit-transform: translate(0, -52px);
    -ms-transform: translate(0, -52px);
    transform: translate(0, -52px);
}