/*$tile-font: 'Open Sans', sans-serif;*/
/*$tile-color: #c13832;*/
/*$tile-gold-color: #edc22e;*/
/*$tile-gold-glow-color: lighten($tile-gold-color, 15%);*/
/*$game-board-background: #ce4844;*/
/*$game-board-background: #c13832;*/
/*background: #bbaaa0;*/
/*$game-container-background: #eee;*/
/*-----------------END VARIABLES ----------------------*/
.modal-dialog {
  width: 310px;
  margin: 0 auto;
  /*margin-top: 136px;*/
  margin-top: 51px;
  font-size: 14.5px; }
  .modal-dialog .modal-footer, .modal-dialog .modal-header {
    padding-top: 10px;
    padding-bottom: 10px; }
  .modal-dialog .modal-content {
    background-color: #ffffff;
    background-color: rgba(255, 255, 255, 0.9); }
  .modal-dialog .modal-body {
    /*min-height: $width - 172px;*/
    padding-top: 0;
    padding-bottom: 0; }
  .modal-dialog .btn-next {
    background-color: #EAE0C8; }
  .modal-dialog .btn-ok {
    background-color: #cef030; }
  @media screen and (min-width: 375px) {
    .modal-dialog {
      margin-top: 105px;
      width: 364px;
      font-size: 16px; } }
  @media screen and (min-width: 768px) {
    .modal-dialog {
      margin-top: 110px;
      width: 420px;
      font-size: 19px; } }

.leaderboard-modal .nav-tabs li {
  width: 50%;
  text-align: center; }
.leaderboard-modal .modal-body {
  padding-right: 0;
  padding-left: 0; }
.leaderboard-modal .scrollable-content {
  height: 210px;
  overflow-y: scroll;
  overflow-x: hidden; }
  @media screen and (min-width: 375px) {
    .leaderboard-modal .scrollable-content {
      height: 245px; } }
  @media screen and (min-width: 768px) {
    .leaderboard-modal .scrollable-content {
      height: 301px; } }
  .leaderboard-modal .scrollable-content .index-column {
    padding-left: 10px; }
.leaderboard-modal .leaderboard-table .column-img {
  padding: 0; }
.leaderboard-modal .leaderboard-table .user-leaderboard-img {
  height: 35px;
  padding-top: 1px; }
  @media screen and (min-width: 375px) {
    .leaderboard-modal .leaderboard-table .user-leaderboard-img {
      height: 36px; } }
  @media screen and (min-width: 768px) {
    .leaderboard-modal .leaderboard-table .user-leaderboard-img {
      height: 41px; } }
.leaderboard-modal .leader-request-btn {
  text-align: center;
  margin-top: 80px; }
.leaderboard-modal .leader-request-btn a {
  text-decoration: none; }
.leaderboard-modal .fb-btns {
  float: left; }
.leaderboard-modal .fb-btns button:hover {
  background-color: #428bca;
  color: white; }

.game-pg-2048 {
  width: 310px;
  color: #776E65;
  margin: 0 auto;
  padding: 5px 0 15px 0; }
  .game-pg-2048 a {
    color: #776E65;
    font-weight: bold;
    /*text-decoration: underline;*/
    cursor: pointer; }
    .game-pg-2048 a:hover {
      color: #696159; }
  @media screen and (min-width: 375px) {
    .game-pg-2048 {
      width: 364px; } }
  @media screen and (min-width: 768px) {
    .game-pg-2048 {
      width: 420px; } }
  .game-pg-2048 .heading {
    width: 100%; }
    .game-pg-2048 .heading .title {
      background-image: url("../img/logo-2048.png");
      background-size: 94.7969px 51px;
      width: 30%;
      float: left;
      height: 51px;
      margin-left: 1%;
      margin-top: 3px;
      -moz-border-radius: 6px;
      -webkit-border-radius: 6px;
      border-radius: 6px; }
    .game-pg-2048 .heading .current-score-container, .game-pg-2048 .heading .best-score-container {
      position: relative;
      display: inline-block;
      background: #bbada0;
      padding-top: 14px;
      font-size: 14px;
      height: 50px;
      width: 44%;
      line-height: 45px;
      font-weight: bold;
      -moz-border-radius: 3px;
      -webkit-border-radius: 3px;
      border-radius: 3px;
      color: white;
      margin-top: 0.2em;
      text-align: center; }
      .game-pg-2048 .heading .current-score-container:after, .game-pg-2048 .heading .best-score-container:after {
        position: absolute;
        width: 100%;
        top: 10px;
        left: 0;
        text-transform: uppercase;
        font-size: 13px;
        line-height: 13px;
        text-align: center;
        color: #eee4da; }
    @media screen and (min-width: 375px) {
      .game-pg-2048 .heading {
        margin-top: 4px; }
        .game-pg-2048 .heading .title {
          height: 61px;
          background-size: 111px 61px; }
        .game-pg-2048 .heading .current-score-container, .game-pg-2048 .heading .best-score-container {
          font-size: 15px;
          height: 58px;
          line-height: 50px; } }
    @media screen and (min-width: 768px) {
      .game-pg-2048 .heading {
        margin-top: 6px; }
        .game-pg-2048 .heading .title {
          height: 65px;
          background-size: 126px 65px; }
        .game-pg-2048 .heading .current-score-container, .game-pg-2048 .heading .best-score-container {
          font-size: 16px;
          height: 61px;
          line-height: 51px; } }
    .game-pg-2048 .heading .scores-container {
      padding: 0 !important;
      float: right;
      width: 69%; }
    .game-pg-2048 .heading .current-score-container {
      margin-right: 2%; }
    .game-pg-2048 .heading .current-score-container:after {
      content: "Score"; }
    .game-pg-2048 .heading .best-score-container:after {
      content: "Best"; }
  .game-pg-2048 .instructions {
    /*    padding-top: 0.5em;*/
    margin-bottom: 0.4em;
    height: 1.8em;
    margin-right: 5px; }
    .game-pg-2048 .instructions .gameBtn {
      font-size: 15px;
      padding-right: 1%;
      padding-bottom: 3px; }
    .game-pg-2048 .instructions .btn-title {
      padding-left: 3px; }
  .game-pg-2048 .game-overlay {
    width: 310px;
    height: 310px;
    /*    width: 100%;
        height: 100%;*/
    background-color: #ffffff;
    background-color: rgba(255, 255, 255, 0.6);
    position: relative;
    /*top: 8.64em;*/
    /*left: 30%;*/
    z-index: 10;
    text-align: center;
    padding-top: 7%;
    /*font-size: 3em;*/
    font-weight: bold;
    overflow: hidden;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    margin-left: 15px;
    margin-top: -316px; }
    .game-pg-2048 .game-overlay .game-login-prompt {
      font-size: 20px;
      text-decoration: none; }
    .game-pg-2048 .game-overlay h1 {
      font-size: 32px; }
    .game-pg-2048 .game-overlay .lable-win {
      /*margin-bottom: 0.8em;*/
      margin-top: 0; }
    .game-pg-2048 .game-overlay .game-over {
      padding-top: 18%; }
      .game-pg-2048 .game-overlay .game-over h1 {
        font-size: 45px; }
      .game-pg-2048 .game-overlay .game-over .lower {
        margin-top: 10px; }
      @media screen and (min-width: 375px) {
        .game-pg-2048 .game-overlay .game-over h1 {
          font-size: 50px; } }
      @media screen and (min-width: 768px) {
        .game-pg-2048 .game-overlay .game-over h1 {
          font-size: 55px; } }
    .game-pg-2048 .game-overlay .lower {
      display: block;
      margin-top: 30px;
      font-size: 18px; }
      .game-pg-2048 .game-overlay .lower a {
        display: inline-block;
        background: #8f7a66;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        border-radius: 3px;
        padding: 0 17px;
        text-decoration: none;
        color: #f9f6f2 !important;
        height: 40px;
        line-height: 40px;
        cursor: pointer;
        margin-left: 9px; }
      .game-pg-2048 .game-overlay .lower .game-login-prompt {
        background: none;
        color: #8f7a66 !important;
        margin-top: 15px; }
    @media screen and (min-width: 375px) {
      .game-pg-2048 .game-overlay {
        width: 364px;
        height: 364px;
        margin-top: -370px;
        /*padding-top: 22%;*/ }
        .game-pg-2048 .game-overlay h1 {
          font-size: 44px; }
        .game-pg-2048 .game-overlay .lable-win {
          margin-bottom: 30px; }
        .game-pg-2048 .game-overlay .lower {
          margin-top: 40px;
          font-size: 19px; }
        .game-pg-2048 .game-overlay .game-login-prompt {
          font-size: 23px; } }
    @media screen and (min-width: 768px) {
      .game-pg-2048 .game-overlay {
        width: 420px;
        height: 420px;
        margin-top: -420px;
        /*padding-top: 21%;*/ }
        .game-pg-2048 .game-overlay h1 {
          font-size: 52px; }
        .game-pg-2048 .game-overlay .lable-win {
          margin-bottom: 30px; }
        .game-pg-2048 .game-overlay .lower {
          margin-top: 55px;
          font-size: 22px; }
        .game-pg-2048 .game-overlay .game-login-prompt {
          font-size: 26px; } }
    .game-pg-2048 .game-overlay.ng-enter {
      /*-ms-transition: $value;*/
      -o-transition: all 1000ms ease-in;
      -webkit-transition: all 1000ms ease-in;
      -moz-transition: all 1000ms ease-in;
      transition: all 1000ms ease-in;
      /*@include transform(translate(0, 100%));*/
      opacity: 0; }
    .game-pg-2048 .game-overlay.ng-enter-active {
      /*@include transform(translate(0, 0));*/
      opacity: 1; }
  .game-pg-2048 .game-4 {
    position: relative;
    padding: 8px;
    cursor: default;
    /*background: #bbaaa0;*/
    /*background: #bdada2;*/
    /*background: #c8e2dc;*/
    /*background: #a192b4;*/
    background: #bdada2;
    -moz-border-radius: 0.5em;
    -webkit-border-radius: 0.5em;
    border-radius: 0.5em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 310px;
    height: 310px;
    margin: 0 auto; }
    @media screen and (min-width: 375px) {
      .game-pg-2048 .game-4 {
        width: 364px;
        height: 364px;
        padding: 10px; } }
    @media screen and (min-width: 768px) {
      .game-pg-2048 .game-4 {
        width: 420px;
        height: 420px;
        padding: 12px; } }
    .game-pg-2048 .game-4 .grid-container {
      position: absolute;
      z-index: 1;
      margin: 0 auto; }
      .game-pg-2048 .game-4 .grid-container .grid-cell {
        width: 67.5px;
        height: 67.5px;
        margin-bottom: 8px;
        margin-right: 8px;
        float: left;
        -moz-border-radius: 9px;
        -webkit-border-radius: 9px;
        border-radius: 9px;
        /*background: rgba(238, 228, 218, 0.35);*/
        background: #ccc0b4;
        /*background: $grid-background;*/ }
        .game-pg-2048 .game-4 .grid-container .grid-cell:last-child {
          margin-right: 0; }
        @media screen and (min-width: 375px) {
          .game-pg-2048 .game-4 .grid-container .grid-cell {
            width: 78.5px;
            height: 78.5px;
            margin-bottom: 10px;
            margin-right: 10px; } }
        @media screen and (min-width: 768px) {
          .game-pg-2048 .game-4 .grid-container .grid-cell {
            width: 90px;
            height: 90px;
            margin-bottom: 12px;
            margin-right: 12px; } }
    .game-pg-2048 .game-4 .tile-container {
      position: absolute;
      z-index: 2; }
      .game-pg-2048 .game-4 .tile-container .tile-new .tile-inner {
        -webkit-animation: appear 240ms ease 100ms;
        -moz-animation: appear 240ms ease 100ms;
        -ms-animation: appear 240ms ease 100ms;
        animation: appear 240ms ease 100ms;
        -webkit-animation-fill-mode: backwards;
        -moz-animation-fill-mode: backwards;
        animation-fill-mode: backwards; }
      .game-pg-2048 .game-4 .tile-container .tile {
        /*font-family: $tile-font;*/
        position: absolute;
        width: 67.5px;
        height: 67.5px;
        -moz-border-radius: 9px;
        -webkit-border-radius: 9px;
        border-radius: 9px;
        /*-ms-transition: $value;*/
        -o-transition: 120ms ease-in-out;
        -webkit-transition: 120ms ease-in-out;
        -moz-transition: 120ms ease-in-out;
        transition: 120ms ease-in-out;
        -webkit-transition-property: -webkit-transform;
        -moz-transition-property: -moz-transform;
        -o-transition-property: -o-transform;
        transition-property: transform;
        z-index: 2; }
        @media screen and (min-width: 375px) {
          .game-pg-2048 .game-4 .tile-container .tile {
            width: 78.5px;
            height: 78.5px; } }
        @media screen and (min-width: 768px) {
          .game-pg-2048 .game-4 .tile-container .tile {
            width: 90px;
            height: 90px; } }
        .game-pg-2048 .game-4 .tile-container .tile.tile-merged .tile-inner {
          -webkit-animation: pop 120ms ease-in;
          -moz-animation: pop 120ms ease-in;
          -ms-animation: pop 120ms ease-in;
          animation: pop 120ms ease-in; }
        .game-pg-2048 .game-4 .tile-container .tile.position-0-0 {
          -ms-transform: translate(0px, 0px);
          -webkit-transform: translate(0px, 0px);
          -moz-transform: translate(0px, 0px);
          -o-transform: translate(0px, 0px);
          transform: translate(0px, 0px); }
        @media screen and (min-width: 375px) {
          .game-pg-2048 .game-4 .tile-container .tile.position-0-0 {
            -ms-transform: translate(0px, 0px);
            -webkit-transform: translate(0px, 0px);
            -moz-transform: translate(0px, 0px);
            -o-transform: translate(0px, 0px);
            transform: translate(0px, 0px); } }
        @media screen and (min-width: 768px) {
          .game-pg-2048 .game-4 .tile-container .tile.position-0-0 {
            -ms-transform: translate(0px, 0px);
            -webkit-transform: translate(0px, 0px);
            -moz-transform: translate(0px, 0px);
            -o-transform: translate(0px, 0px);
            transform: translate(0px, 0px); } }
        .game-pg-2048 .game-4 .tile-container .tile.position-0-1 {
          -ms-transform: translate(0px, 75.5px);
          -webkit-transform: translate(0px, 75.5px);
          -moz-transform: translate(0px, 75.5px);
          -o-transform: translate(0px, 75.5px);
          transform: translate(0px, 75.5px); }
        @media screen and (min-width: 375px) {
          .game-pg-2048 .game-4 .tile-container .tile.position-0-1 {
            -ms-transform: translate(0px, 88.5px);
            -webkit-transform: translate(0px, 88.5px);
            -moz-transform: translate(0px, 88.5px);
            -o-transform: translate(0px, 88.5px);
            transform: translate(0px, 88.5px); } }
        @media screen and (min-width: 768px) {
          .game-pg-2048 .game-4 .tile-container .tile.position-0-1 {
            -ms-transform: translate(0px, 102px);
            -webkit-transform: translate(0px, 102px);
            -moz-transform: translate(0px, 102px);
            -o-transform: translate(0px, 102px);
            transform: translate(0px, 102px); } }
        .game-pg-2048 .game-4 .tile-container .tile.position-0-2 {
          -ms-transform: translate(0px, 151px);
          -webkit-transform: translate(0px, 151px);
          -moz-transform: translate(0px, 151px);
          -o-transform: translate(0px, 151px);
          transform: translate(0px, 151px); }
        @media screen and (min-width: 375px) {
          .game-pg-2048 .game-4 .tile-container .tile.position-0-2 {
            -ms-transform: translate(0px, 177px);
            -webkit-transform: translate(0px, 177px);
            -moz-transform: translate(0px, 177px);
            -o-transform: translate(0px, 177px);
            transform: translate(0px, 177px); } }
        @media screen and (min-width: 768px) {
          .game-pg-2048 .game-4 .tile-container .tile.position-0-2 {
            -ms-transform: translate(0px, 204px);
            -webkit-transform: translate(0px, 204px);
            -moz-transform: translate(0px, 204px);
            -o-transform: translate(0px, 204px);
            transform: translate(0px, 204px); } }
        .game-pg-2048 .game-4 .tile-container .tile.position-0-3 {
          -ms-transform: translate(0px, 226.5px);
          -webkit-transform: translate(0px, 226.5px);
          -moz-transform: translate(0px, 226.5px);
          -o-transform: translate(0px, 226.5px);
          transform: translate(0px, 226.5px); }
        @media screen and (min-width: 375px) {
          .game-pg-2048 .game-4 .tile-container .tile.position-0-3 {
            -ms-transform: translate(0px, 265.5px);
            -webkit-transform: translate(0px, 265.5px);
            -moz-transform: translate(0px, 265.5px);
            -o-transform: translate(0px, 265.5px);
            transform: translate(0px, 265.5px); } }
        @media screen and (min-width: 768px) {
          .game-pg-2048 .game-4 .tile-container .tile.position-0-3 {
            -ms-transform: translate(0px, 306px);
            -webkit-transform: translate(0px, 306px);
            -moz-transform: translate(0px, 306px);
            -o-transform: translate(0px, 306px);
            transform: translate(0px, 306px); } }
        .game-pg-2048 .game-4 .tile-container .tile.position-1-0 {
          -ms-transform: translate(75.5px, 0px);
          -webkit-transform: translate(75.5px, 0px);
          -moz-transform: translate(75.5px, 0px);
          -o-transform: translate(75.5px, 0px);
          transform: translate(75.5px, 0px); }
        @media screen and (min-width: 375px) {
          .game-pg-2048 .game-4 .tile-container .tile.position-1-0 {
            -ms-transform: translate(88.5px, 0px);
            -webkit-transform: translate(88.5px, 0px);
            -moz-transform: translate(88.5px, 0px);
            -o-transform: translate(88.5px, 0px);
            transform: translate(88.5px, 0px); } }
        @media screen and (min-width: 768px) {
          .game-pg-2048 .game-4 .tile-container .tile.position-1-0 {
            -ms-transform: translate(102px, 0px);
            -webkit-transform: translate(102px, 0px);
            -moz-transform: translate(102px, 0px);
            -o-transform: translate(102px, 0px);
            transform: translate(102px, 0px); } }
        .game-pg-2048 .game-4 .tile-container .tile.position-1-1 {
          -ms-transform: translate(75.5px, 75.5px);
          -webkit-transform: translate(75.5px, 75.5px);
          -moz-transform: translate(75.5px, 75.5px);
          -o-transform: translate(75.5px, 75.5px);
          transform: translate(75.5px, 75.5px); }
        @media screen and (min-width: 375px) {
          .game-pg-2048 .game-4 .tile-container .tile.position-1-1 {
            -ms-transform: translate(88.5px, 88.5px);
            -webkit-transform: translate(88.5px, 88.5px);
            -moz-transform: translate(88.5px, 88.5px);
            -o-transform: translate(88.5px, 88.5px);
            transform: translate(88.5px, 88.5px); } }
        @media screen and (min-width: 768px) {
          .game-pg-2048 .game-4 .tile-container .tile.position-1-1 {
            -ms-transform: translate(102px, 102px);
            -webkit-transform: translate(102px, 102px);
            -moz-transform: translate(102px, 102px);
            -o-transform: translate(102px, 102px);
            transform: translate(102px, 102px); } }
        .game-pg-2048 .game-4 .tile-container .tile.position-1-2 {
          -ms-transform: translate(75.5px, 151px);
          -webkit-transform: translate(75.5px, 151px);
          -moz-transform: translate(75.5px, 151px);
          -o-transform: translate(75.5px, 151px);
          transform: translate(75.5px, 151px); }
        @media screen and (min-width: 375px) {
          .game-pg-2048 .game-4 .tile-container .tile.position-1-2 {
            -ms-transform: translate(88.5px, 177px);
            -webkit-transform: translate(88.5px, 177px);
            -moz-transform: translate(88.5px, 177px);
            -o-transform: translate(88.5px, 177px);
            transform: translate(88.5px, 177px); } }
        @media screen and (min-width: 768px) {
          .game-pg-2048 .game-4 .tile-container .tile.position-1-2 {
            -ms-transform: translate(102px, 204px);
            -webkit-transform: translate(102px, 204px);
            -moz-transform: translate(102px, 204px);
            -o-transform: translate(102px, 204px);
            transform: translate(102px, 204px); } }
        .game-pg-2048 .game-4 .tile-container .tile.position-1-3 {
          -ms-transform: translate(75.5px, 226.5px);
          -webkit-transform: translate(75.5px, 226.5px);
          -moz-transform: translate(75.5px, 226.5px);
          -o-transform: translate(75.5px, 226.5px);
          transform: translate(75.5px, 226.5px); }
        @media screen and (min-width: 375px) {
          .game-pg-2048 .game-4 .tile-container .tile.position-1-3 {
            -ms-transform: translate(88.5px, 265.5px);
            -webkit-transform: translate(88.5px, 265.5px);
            -moz-transform: translate(88.5px, 265.5px);
            -o-transform: translate(88.5px, 265.5px);
            transform: translate(88.5px, 265.5px); } }
        @media screen and (min-width: 768px) {
          .game-pg-2048 .game-4 .tile-container .tile.position-1-3 {
            -ms-transform: translate(102px, 306px);
            -webkit-transform: translate(102px, 306px);
            -moz-transform: translate(102px, 306px);
            -o-transform: translate(102px, 306px);
            transform: translate(102px, 306px); } }
        .game-pg-2048 .game-4 .tile-container .tile.position-2-0 {
          -ms-transform: translate(151px, 0px);
          -webkit-transform: translate(151px, 0px);
          -moz-transform: translate(151px, 0px);
          -o-transform: translate(151px, 0px);
          transform: translate(151px, 0px); }
        @media screen and (min-width: 375px) {
          .game-pg-2048 .game-4 .tile-container .tile.position-2-0 {
            -ms-transform: translate(177px, 0px);
            -webkit-transform: translate(177px, 0px);
            -moz-transform: translate(177px, 0px);
            -o-transform: translate(177px, 0px);
            transform: translate(177px, 0px); } }
        @media screen and (min-width: 768px) {
          .game-pg-2048 .game-4 .tile-container .tile.position-2-0 {
            -ms-transform: translate(204px, 0px);
            -webkit-transform: translate(204px, 0px);
            -moz-transform: translate(204px, 0px);
            -o-transform: translate(204px, 0px);
            transform: translate(204px, 0px); } }
        .game-pg-2048 .game-4 .tile-container .tile.position-2-1 {
          -ms-transform: translate(151px, 75.5px);
          -webkit-transform: translate(151px, 75.5px);
          -moz-transform: translate(151px, 75.5px);
          -o-transform: translate(151px, 75.5px);
          transform: translate(151px, 75.5px); }
        @media screen and (min-width: 375px) {
          .game-pg-2048 .game-4 .tile-container .tile.position-2-1 {
            -ms-transform: translate(177px, 88.5px);
            -webkit-transform: translate(177px, 88.5px);
            -moz-transform: translate(177px, 88.5px);
            -o-transform: translate(177px, 88.5px);
            transform: translate(177px, 88.5px); } }
        @media screen and (min-width: 768px) {
          .game-pg-2048 .game-4 .tile-container .tile.position-2-1 {
            -ms-transform: translate(204px, 102px);
            -webkit-transform: translate(204px, 102px);
            -moz-transform: translate(204px, 102px);
            -o-transform: translate(204px, 102px);
            transform: translate(204px, 102px); } }
        .game-pg-2048 .game-4 .tile-container .tile.position-2-2 {
          -ms-transform: translate(151px, 151px);
          -webkit-transform: translate(151px, 151px);
          -moz-transform: translate(151px, 151px);
          -o-transform: translate(151px, 151px);
          transform: translate(151px, 151px); }
        @media screen and (min-width: 375px) {
          .game-pg-2048 .game-4 .tile-container .tile.position-2-2 {
            -ms-transform: translate(177px, 177px);
            -webkit-transform: translate(177px, 177px);
            -moz-transform: translate(177px, 177px);
            -o-transform: translate(177px, 177px);
            transform: translate(177px, 177px); } }
        @media screen and (min-width: 768px) {
          .game-pg-2048 .game-4 .tile-container .tile.position-2-2 {
            -ms-transform: translate(204px, 204px);
            -webkit-transform: translate(204px, 204px);
            -moz-transform: translate(204px, 204px);
            -o-transform: translate(204px, 204px);
            transform: translate(204px, 204px); } }
        .game-pg-2048 .game-4 .tile-container .tile.position-2-3 {
          -ms-transform: translate(151px, 226.5px);
          -webkit-transform: translate(151px, 226.5px);
          -moz-transform: translate(151px, 226.5px);
          -o-transform: translate(151px, 226.5px);
          transform: translate(151px, 226.5px); }
        @media screen and (min-width: 375px) {
          .game-pg-2048 .game-4 .tile-container .tile.position-2-3 {
            -ms-transform: translate(177px, 265.5px);
            -webkit-transform: translate(177px, 265.5px);
            -moz-transform: translate(177px, 265.5px);
            -o-transform: translate(177px, 265.5px);
            transform: translate(177px, 265.5px); } }
        @media screen and (min-width: 768px) {
          .game-pg-2048 .game-4 .tile-container .tile.position-2-3 {
            -ms-transform: translate(204px, 306px);
            -webkit-transform: translate(204px, 306px);
            -moz-transform: translate(204px, 306px);
            -o-transform: translate(204px, 306px);
            transform: translate(204px, 306px); } }
        .game-pg-2048 .game-4 .tile-container .tile.position-3-0 {
          -ms-transform: translate(226.5px, 0px);
          -webkit-transform: translate(226.5px, 0px);
          -moz-transform: translate(226.5px, 0px);
          -o-transform: translate(226.5px, 0px);
          transform: translate(226.5px, 0px); }
        @media screen and (min-width: 375px) {
          .game-pg-2048 .game-4 .tile-container .tile.position-3-0 {
            -ms-transform: translate(265.5px, 0px);
            -webkit-transform: translate(265.5px, 0px);
            -moz-transform: translate(265.5px, 0px);
            -o-transform: translate(265.5px, 0px);
            transform: translate(265.5px, 0px); } }
        @media screen and (min-width: 768px) {
          .game-pg-2048 .game-4 .tile-container .tile.position-3-0 {
            -ms-transform: translate(306px, 0px);
            -webkit-transform: translate(306px, 0px);
            -moz-transform: translate(306px, 0px);
            -o-transform: translate(306px, 0px);
            transform: translate(306px, 0px); } }
        .game-pg-2048 .game-4 .tile-container .tile.position-3-1 {
          -ms-transform: translate(226.5px, 75.5px);
          -webkit-transform: translate(226.5px, 75.5px);
          -moz-transform: translate(226.5px, 75.5px);
          -o-transform: translate(226.5px, 75.5px);
          transform: translate(226.5px, 75.5px); }
        @media screen and (min-width: 375px) {
          .game-pg-2048 .game-4 .tile-container .tile.position-3-1 {
            -ms-transform: translate(265.5px, 88.5px);
            -webkit-transform: translate(265.5px, 88.5px);
            -moz-transform: translate(265.5px, 88.5px);
            -o-transform: translate(265.5px, 88.5px);
            transform: translate(265.5px, 88.5px); } }
        @media screen and (min-width: 768px) {
          .game-pg-2048 .game-4 .tile-container .tile.position-3-1 {
            -ms-transform: translate(306px, 102px);
            -webkit-transform: translate(306px, 102px);
            -moz-transform: translate(306px, 102px);
            -o-transform: translate(306px, 102px);
            transform: translate(306px, 102px); } }
        .game-pg-2048 .game-4 .tile-container .tile.position-3-2 {
          -ms-transform: translate(226.5px, 151px);
          -webkit-transform: translate(226.5px, 151px);
          -moz-transform: translate(226.5px, 151px);
          -o-transform: translate(226.5px, 151px);
          transform: translate(226.5px, 151px); }
        @media screen and (min-width: 375px) {
          .game-pg-2048 .game-4 .tile-container .tile.position-3-2 {
            -ms-transform: translate(265.5px, 177px);
            -webkit-transform: translate(265.5px, 177px);
            -moz-transform: translate(265.5px, 177px);
            -o-transform: translate(265.5px, 177px);
            transform: translate(265.5px, 177px); } }
        @media screen and (min-width: 768px) {
          .game-pg-2048 .game-4 .tile-container .tile.position-3-2 {
            -ms-transform: translate(306px, 204px);
            -webkit-transform: translate(306px, 204px);
            -moz-transform: translate(306px, 204px);
            -o-transform: translate(306px, 204px);
            transform: translate(306px, 204px); } }
        .game-pg-2048 .game-4 .tile-container .tile.position-3-3 {
          -ms-transform: translate(226.5px, 226.5px);
          -webkit-transform: translate(226.5px, 226.5px);
          -moz-transform: translate(226.5px, 226.5px);
          -o-transform: translate(226.5px, 226.5px);
          transform: translate(226.5px, 226.5px); }
        @media screen and (min-width: 375px) {
          .game-pg-2048 .game-4 .tile-container .tile.position-3-3 {
            -ms-transform: translate(265.5px, 265.5px);
            -webkit-transform: translate(265.5px, 265.5px);
            -moz-transform: translate(265.5px, 265.5px);
            -o-transform: translate(265.5px, 265.5px);
            transform: translate(265.5px, 265.5px); } }
        @media screen and (min-width: 768px) {
          .game-pg-2048 .game-4 .tile-container .tile.position-3-3 {
            -ms-transform: translate(306px, 306px);
            -webkit-transform: translate(306px, 306px);
            -moz-transform: translate(306px, 306px);
            -o-transform: translate(306px, 306px);
            transform: translate(306px, 306px); } }
        .game-pg-2048 .game-4 .tile-container .tile.tile-2 .tile-inner {
          background: #EEE4DA;
          /*background-image: nth($tile-bg-imgs, $i);*/
          /*content: nth($tile-bg-imgs, $i);*/ }
        .game-pg-2048 .game-4 .tile-container .tile.tile-4 .tile-inner {
          background: #EDE0C8;
          /*background-image: nth($tile-bg-imgs, $i);*/
          /*content: nth($tile-bg-imgs, $i);*/ }
        .game-pg-2048 .game-4 .tile-container .tile.tile-8 .tile-inner {
          background: #F2B179;
          color: white;
          /*background-image: nth($tile-bg-imgs, $i);*/
          /*content: nth($tile-bg-imgs, $i);*/ }
        .game-pg-2048 .game-4 .tile-container .tile.tile-16 .tile-inner {
          background: #EC8D54;
          color: white;
          /*background-image: nth($tile-bg-imgs, $i);*/
          /*content: nth($tile-bg-imgs, $i);*/ }
        .game-pg-2048 .game-4 .tile-container .tile.tile-32 .tile-inner {
          background: #F67C5F;
          color: white;
          /*background-image: nth($tile-bg-imgs, $i);*/
          /*content: nth($tile-bg-imgs, $i);*/ }
        .game-pg-2048 .game-4 .tile-container .tile.tile-64 .tile-inner {
          background: #EA5937;
          color: white;
          /*background-image: nth($tile-bg-imgs, $i);*/
          /*content: nth($tile-bg-imgs, $i);*/ }
        .game-pg-2048 .game-4 .tile-container .tile.tile-128 .tile-inner {
          background: #F3D86B;
          color: white;
          /*background-image: nth($tile-bg-imgs, $i);*/
          /*content: nth($tile-bg-imgs, $i);*/ }
        .game-pg-2048 .game-4 .tile-container .tile.tile-256 .tile-inner {
          background: #F1D04B;
          color: white;
          /*background-image: nth($tile-bg-imgs, $i);*/
          /*content: nth($tile-bg-imgs, $i);*/ }
        .game-pg-2048 .game-4 .tile-container .tile.tile-512 .tile-inner {
          background: #E4C02A;
          color: white;
          /*background-image: nth($tile-bg-imgs, $i);*/
          /*content: nth($tile-bg-imgs, $i);*/ }
        .game-pg-2048 .game-4 .tile-container .tile.tile-1024 .tile-inner {
          background: #F1DA13;
          color: white;
          /*background-image: nth($tile-bg-imgs, $i);*/
          /*content: nth($tile-bg-imgs, $i);*/ }
        .game-pg-2048 .game-4 .tile-container .tile.tile-2048 .tile-inner {
          background: #FDE300;
          color: white;
          /*background-image: nth($tile-bg-imgs, $i);*/
          /*content: nth($tile-bg-imgs, $i);*/ }
        .game-pg-2048 .game-4 .tile-container .tile.tile-4096 .tile-inner {
          background: #FDEE00;
          color: white;
          /*background-image: nth($tile-bg-imgs, $i);*/
          /*content: nth($tile-bg-imgs, $i);*/ }
        .game-pg-2048 .game-4 .tile-container .tile:last-child {
          margin-right: 0; }
        .game-pg-2048 .game-4 .tile-container .tile .tile-inner {
          /*line-height: ($width/$tile-count) - $tile-padding;*/
          line-height: 69px;
          text-align: center;
          font-weight: bold;
          z-index: 10;
          font-size: 30px;
          -moz-border-radius: 10px;
          -webkit-border-radius: 10px;
          border-radius: 10px; }
          @media screen and (min-width: 375px) {
            .game-pg-2048 .game-4 .tile-container .tile .tile-inner {
              font-size: 33px;
              line-height: 80px; } }
          @media screen and (min-width: 768px) {
            .game-pg-2048 .game-4 .tile-container .tile .tile-inner {
              font-size: 37px;
              line-height: 90px; } }
@-webkit-keyframes pop {
  0% {
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); }
  70% {
    -ms-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2); }
  100% {
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); } }
@-moz-keyframes pop {
  0% {
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); }
  70% {
    -ms-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2); }
  100% {
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); } }
@-o-keyframes pop {
  0% {
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); }
  70% {
    -ms-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2); }
  100% {
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); } }
@keyframes pop {
  0% {
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); }
  70% {
    -ms-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2); }
  100% {
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); } }
@-webkit-keyframes appear {
  0% {
    opacity: 0;
    -ms-transform: scale(0);
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0); }
  50% {
    opacity: 0;
    -ms-transform: scale(0);
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0); }
  100% {
    opacity: 1;
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); } }
@-moz-keyframes appear {
  0% {
    opacity: 0;
    -ms-transform: scale(0);
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0); }
  50% {
    opacity: 0;
    -ms-transform: scale(0);
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0); }
  100% {
    opacity: 1;
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); } }
@-o-keyframes appear {
  0% {
    opacity: 0;
    -ms-transform: scale(0);
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0); }
  50% {
    opacity: 0;
    -ms-transform: scale(0);
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0); }
  100% {
    opacity: 1;
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); } }
@keyframes appear {
  0% {
    opacity: 0;
    -ms-transform: scale(0);
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0); }
  50% {
    opacity: 0;
    -ms-transform: scale(0);
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0); }
  100% {
    opacity: 1;
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); } }

/*# sourceMappingURL=ng2048s.css.map */
