@import "../../core/css/_functions";

$screen-xs-sm: 375px;
$screen-md: 768px;

$width: 310px;          //the width of the entire board 
$width-xs-sm: 364px;
$width-md: 420px;

$min-tile-count:3;
$max-tile-count:6;
$default-tile-count:4;

$tile-padding: 8px;    // the padding between tiles
$tile-padding-xs-sm: 10px;
$tile-padding-md: 12px;

$tile-radius: 9px;
$tile-inner-radius: 10px;

$tile-size: ($width - $tile-padding * ($default-tile-count + 1)) / $default-tile-count;
$tile-xs-sm: ($width-xs-sm - $tile-padding-xs-sm * ($default-tile-count + 1)) / $default-tile-count;
$tile-md: ($width-md - $tile-padding-md * ($default-tile-count + 1)) / $default-tile-count;

/*$tile-font: 'Open Sans', sans-serif;*/
$tile-color: #eee4da;
/*$tile-color: #c13832;*/
/*$tile-gold-color: #edc22e;*/
/*$tile-gold-glow-color: lighten($tile-gold-color, 15%);*/

$game-container-background: #bbada0;
/*$game-board-background: #ce4844;*/
/*$game-board-background: #c13832;*/
$game-board-background: #bdada2;
/*background: #bbaaa0;*/
$grid-background: #eee;
$background-color: #eee;
/*$game-container-background: #eee;*/
$text-color: #776E65;
$bright-text-color: #f9f6f2; 

$colors:  #EEE4DA, // 2
#EDE0C8, // 4
#F2B179, // 8
#EC8D54, // 16
#F67C5F, // 32
#EA5937, // 64
#F3D86B, // 128
#F1D04B, // 256
#E4C02A, // 512
#F1DA13, // 1024
#FDE300, // 2048
#FDEE00; //4096

$transition-time: 120ms;
$transition-speed: 100ms;
/*-----------------END VARIABLES ----------------------*/

.modal-dialog {
    width: $width;
    margin:0 auto;
    /*margin-top: 136px;*/
    margin-top: 51px;
    font-size: 14.5px;

    .modal-footer, .modal-header {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .modal-content {
        background-color: #ffffff;
        background-color: rgba(255, 255, 255, 0.9);
    }
    .modal-body {
        /*min-height: $width - 172px;*/
        padding-top: 0;
        padding-bottom: 0;
    }

    .btn-next {
        background-color: #EAE0C8;
    }
    .btn-ok {
        background-color: #cef030;
    }

    @media screen and (min-width: $screen-xs-sm) {
        margin-top: 105px;
        width: $width-xs-sm;
        font-size: 16px;
    }


    @media screen and  (min-width: $screen-md) {
        margin-top: 110px;
        width: $width-md;
        font-size: 19px;
    }
}

.leaderboard-modal {
    .nav-tabs li {
        width: 50%;
        text-align: center;
    }
    .modal-body {
        padding-right: 0;
        padding-left:0;
    }
    .scrollable-content {
        height: 210px;
        overflow-y: scroll;
        overflow-x: hidden;

        @media screen and (min-width: $screen-xs-sm) {
            height: $width-xs-sm - 119px;
        }
        @media screen and  (min-width: $screen-md) {
            height: $width-md - 119px;
        }

        .index-column {
            padding-left: 10px;
        }
    }
    .leaderboard-table .column-img {
        padding: 0;
    }
    .leaderboard-table .user-leaderboard-img {
        height: 35px;
        padding-top: 1px;
        @media screen and (min-width: $screen-xs-sm) {
            height: 36px;
        }
        @media screen and  (min-width: $screen-md) {
            height: 41px;
        }
    }
    .leader-request-btn {
        text-align: center;
        margin-top: 80px
    }
    .leader-request-btn a {
        text-decoration: none;
    }

    .fb-btns {
        float: left;
    }
    .fb-btns button:hover {
        background-color: #428bca;
        color: white;
    }
}


.game-pg-2048 {    
    width: $width;
    color: $text-color;
    margin: 0 auto;
    padding: 5px 0 15px 0;

    a {
        color: $text-color;
        font-weight: bold;
        /*text-decoration: underline;*/
        cursor: pointer;
        &:hover {
            color: darken($text-color, 5%);
        }
    }

    @media screen and (min-width: $screen-xs-sm) {
        width: $width-xs-sm;
    }
    @media screen and  (min-width: $screen-md) {
        width: $width-md;
    }


    .heading {
        width: 100%;

        .title {
            background-image: url("../img/logo-2048.png");
            background-size: 94.7969px 51px;
            width: 30%;
            float: left;
            height: 51px;
            margin-left: 1%;
            margin-top:3px;
            @include border-radius(6px);
        }

        .current-score-container, .best-score-container {
            $inner-height: 14px;
            position: relative;
            display: inline-block;
            background: $game-container-background;
            padding-top: 14px;
            font-size: $inner-height;
            height: $inner-height + 36px;
            width: 44%;
            line-height: $inner-height + 31px;
            font-weight: bold;
            @include border-radius(3px);
            color: white;
            margin-top: 0.2em;
            text-align: center;

            &:after {
                position: absolute;
                width: 100%;
                top: 10px;
                left: 0;
                text-transform: uppercase;
                font-size: 13px;
                line-height: 13px;
                text-align: center;
                color: $tile-color;
            }
        }

        @media screen and (min-width: $screen-xs-sm) {
            margin-top: 4px;
            .title {
                height: 61px;
                background-size: 111px 61px;
            }
            .current-score-container, .best-score-container {
                $inner-height: 15px;
                font-size: $inner-height;
                height: $inner-height + 43px;
                line-height: $inner-height + 35px;
            }
        }
        @media screen and  (min-width: $screen-md) {
            margin-top: 6px;
            .title {
                height: 65px;
                background-size: 126px 65px;
            }
            .current-score-container, .best-score-container {
                $inner-height: 16px;
                font-size: $inner-height;
                height: $inner-height + 45px;
                line-height: $inner-height + 35px;
            }
        }

        .scores-container {
            padding:0 !important;
            float: right;
            width: 69%;
        } 

        .current-score-container {
            margin-right: 2%;
        }
        .current-score-container:after {
            content: "Score";
        }

        .best-score-container:after {
            content: "Best";
        }
    }

    .instructions {
        /*    padding-top: 0.5em;*/
        margin-bottom:0.4em;
        height: 1.8em;
        margin-right: 5px;

        .gameBtn {
            font-size: 15px;
            padding-right: 1%;
            padding-bottom: 3px;
        }

        .btn-title {
            padding-left: 3px;
        }
    }

    .game-overlay{
        width: $width;
        height: $width;
        /*    width: 100%;
            height: 100%;*/
        background-color: #ffffff;
        background-color: rgba(255, 255, 255, 0.6);
        position: relative;
        /*top: 8.64em;*/
        /*left: 30%;*/
        z-index: 10;
        text-align: center;
        padding-top: 7%;
        /*font-size: 3em;*/
        font-weight: bold;
        overflow: hidden;
        @include box-sizing(border-box);
        float: left;
        margin-left: 15px;
        margin-top: -316px;

        .game-login-prompt {
            font-size: 20px;
            text-decoration: none;
        }

        h1 {
            font-size: 32px;
        }
        .lable-win {
            /*margin-bottom: 0.8em;*/
            margin-top: 0;
        }
        .game-over {
            padding-top: 18%;
            h1 {
                font-size: 45px;
            }
            .lower {
                margin-top: 10px;
            }
            @media screen and (min-width: $screen-xs-sm) {
                h1 {
                    font-size: 50px;
                }
            }
            @media screen and  (min-width: $screen-md) {
                h1 {
                    font-size: 55px;
                }
            }
        }

        .lower {
            display: block;
            margin-top: 30px;
            font-size: 18px;

            a {
                display: inline-block;
                background: #8f7a66;
                @include border-radius(3px);
                padding: 0 17px;
                text-decoration: none;
                color: #f9f6f2 !important;
                height: 40px;
                line-height: 40px;
                cursor: pointer;
                margin-left: 9px;
            }

            .game-login-prompt {
                background: none;
                color: #8f7a66 !important;
                margin-top:15px;
            }
        }

        @media screen and (min-width: $screen-xs-sm) {
            width: $width-xs-sm;
            height: $width-xs-sm;
            margin-top: -370px;
            /*padding-top: 22%;*/
            h1 {
                font-size: 44px;
            }
            .lable-win {
                margin-bottom: 30px;
            }
            .lower {
                margin-top: 40px;
                font-size: 19px;
            }
            .game-login-prompt {
                font-size: 23px;
            }
        }
        @media screen and  (min-width: $screen-md) {
            width: $width-md;
            height: $width-md;
            margin-top: -420px;
            /*padding-top: 21%;*/
            h1 {
                font-size: 52px;
            }
            .lable-win {
                margin-bottom: 30px;
            }
            .lower {
                margin-top: 55px;
                font-size: 22px;
            }
            .game-login-prompt {
                font-size: 26px;
            }
        }

        &.ng-enter {
            @include transition(all 1000ms ease-in);
            /*@include transform(translate(0, 100%));*/
            opacity: 0;
        }

        &.ng-enter-active {
            /*@include transform(translate(0, 0));*/
            opacity: 1;
        }
    }

    @mixin game-board($tile-count) {
        .game-#{$tile-count} { 
            position: relative;
            padding: $tile-padding;
            cursor: default;
            /*background: #bbaaa0;*/
            /*background: #bdada2;*/
            /*background: #c8e2dc;*/ //light blue
            /*background: #a192b4;*/ //purple
            background: $game-board-background;
            @include border-radius(0.5em);
            @include box-sizing(border-box);
            width: $width;
            height: $width;
            margin: 0 auto;

            @media screen and (min-width: $screen-xs-sm) {
                width: $width-xs-sm;
                height: $width-xs-sm;
                padding: $tile-padding-xs-sm;
            }
            @media screen and  (min-width: $screen-md) {
                width: $width-md;
                height: $width-md;
                padding: $tile-padding-md;
            }

            .grid-container {
                position: absolute;
                z-index: 1;
                margin: 0 auto;

                .grid-cell {
                    width: $tile-size;
                    height: $tile-size;
                    margin-bottom: $tile-padding;
                    margin-right: $tile-padding;
                    float: left;
                    @include border-radius($tile-radius);
                    /*background: rgba(238, 228, 218, 0.35);*/
                    background: #ccc0b4;
                    /*background: $grid-background;*/
                    &:last-child {
                        margin-right: 0;
                    }

                    @media screen and (min-width: $screen-xs-sm) {
                        width: $tile-xs-sm;
                        height: $tile-xs-sm;
                        margin-bottom: $tile-padding-xs-sm;
                        margin-right: $tile-padding-xs-sm;
                    }
                    @media screen and  (min-width: $screen-md) {
                        width: $tile-md;
                        height: $tile-md;
                        margin-bottom: $tile-padding-md;
                        margin-right: $tile-padding-md;
                    }
                }
            }

            .tile-container {
                position: absolute;
                z-index: 2;

                .tile-new .tile-inner {
                    @include animation(appear $transition-time*2 ease $transition-speed);
                    @include animation-fill-mode(backwards);
                }

                .tile {
                    /*font-family: $tile-font;*/
                    position: absolute;
                    width: $tile-size;
                    height: $tile-size;
                    @include border-radius($tile-radius);
                    @include transition($transition-time ease-in-out);
                    -webkit-transition-property: -webkit-transform;
                    -moz-transition-property: -moz-transform;
                    -o-transition-property: -o-transform;
                    transition-property: transform;
                    z-index: 2;

                    @media screen and (min-width: $screen-xs-sm) {
                        width: $tile-xs-sm;
                        height: $tile-xs-sm;
                    }
                    @media screen and  (min-width: $screen-md) {
                        width: $tile-md;
                        height: $tile-md;
                    }

                    &.tile-merged .tile-inner {
                        @include animation(pop $transition-time ease-in);
                    }

                    @for $x from 1 through $tile-count {
                        @for $y from 1 through $tile-count {
                            $zeroOffsetX: $x - 1;
                            $zeroOffsetY: $y - 1;
                            $newX: ($tile-size) * ($zeroOffsetX) + ($tile-padding * $zeroOffsetX);
                            $newY: ($tile-size) * ($zeroOffsetY) + ($tile-padding * $zeroOffsetY);
                            &.position-#{$zeroOffsetX}-#{$zeroOffsetY} { 
                                @include transform(translate($newX, $newY));
                            }

                            @media screen and (min-width: $screen-xs-sm) {
                                $newX: ($tile-xs-sm) * ($zeroOffsetX) + ($tile-padding-xs-sm * $zeroOffsetX);
                                $newY: ($tile-xs-sm) * ($zeroOffsetY) + ($tile-padding-xs-sm * $zeroOffsetY);
                                &.position-#{$zeroOffsetX}-#{$zeroOffsetY} { 
                                    @include transform(translate($newX, $newY));
                                }
                            }
                            @media screen and  (min-width: $screen-md) {
                                $newX: ($tile-md) * ($zeroOffsetX) + ($tile-padding-md * $zeroOffsetX);
                                $newY: ($tile-md) * ($zeroOffsetY) + ($tile-padding-md * $zeroOffsetY);
                                &.position-#{$zeroOffsetX}-#{$zeroOffsetY} { 
                                    @include transform(translate($newX, $newY));
                                }
                            }
                        }
                    }

                    @for $i from 1 through length($colors) {
                        &.tile-#{power(2, $i)} .tile-inner{
                            background: nth($colors, $i);
                            @if $i > 2 {
                                color: white;
                            }
                            /*background-image: nth($tile-bg-imgs, $i);*/  
                            /*content: nth($tile-bg-imgs, $i);*/
                        }
                    }
                    &:last-child {
                        margin-right: 0;
                    }

                    .tile-inner {
                        /*line-height: ($width/$tile-count) - $tile-padding;*/
                        line-height: 69px;
                        text-align: center;
                        font-weight: bold;
                        z-index: 10;
                        font-size: 30px;

                        @include border-radius($tile-inner-radius);

                        @media screen and (min-width: $screen-xs-sm) {
                            font-size: 33px;
                            line-height: 80px;
                        }
                        @media screen and  (min-width: $screen-md) {
                            font-size: 37px;
                            line-height: 90px;
                        }                 
                    }      

                }
            }
        }
    }
    @include game-board($default-tile-count);

    @include keyframes(pop) {
        0% {
            @include transform(scale(1));
        }
        70% {
            @include transform(scale(1.2));
        }
        100% {
            @include transform(scale(1));
        }
    }

    @include keyframes(appear) {
        0% {
            opacity: 0;
            @include transform(scale(0));
        }
        50% {
            opacity: 0;
            @include transform(scale(0));
        }
        100% {
            opacity: 1;
            @include transform(scale(1));
        } 
    }
}
