<div class="game-board">
    <div class="grid-container">
        <div data-ng-click="move($index)" class="grid-cell" ng-class="{'grid-black': ngModel.players.self.isHost, 'grid-white': !ngModel.players.self.isHost}" ng-repeat="cell in ngModel.grid track by $index"></div>
    </div>
    <div class="tile-container">
        <gomokutile ng-model="tile" ng-repeat="tile in ngModel.tiles track by $id($index)"></gomokutile>
    </div>
</div>