<div class="cloudy-block">
    <section data-ng-controller="GomokuController" class="game-pg-gomoku">
        <!--heading-->
        <div class="heading row">
            <div class="title">
                <img src="modules/gomokus/img/gomoku-logo.jpg" alt="Gomoku"/>
            </div>
            <div class="scores-container">
                <div class="panel-user panel-user-other" ng-class="{'panel-turn': game.players.other.myTurn}">
                    <a href="{{game.players.other.link}}" target="blank">
                        <span>
                            <img class="user-img" ng-src='{{game.players.other.picture}}' alt="Avatar"/>
                        </span>
                    </a>
                    <span ng-bind="game.players.other.firstName">Guest</span>
                </div>
                <div class="panel-score">
                    <span ng-bind="game.players.self.totalWons"></span>:<span ng-bind="game.players.other.totalWons"></span>
                </div>
                <div class="panel-user panel-user-me" ng-class="{'panel-turn': game.players.self.myTurn}">
                    <span>
                        <img class="user-img" ng-src='{{facebook.img}}' alt="Avatar"/>
                    </span>
                    <span>You</span>
                </div>
            </div>      
        </div>

        <!--instruction-->
        <div class="instructions row">
            <div class="text-right">
                <div ng-click="modalLeaderboard()" title="Leaderboard" 
                     class="btn gameBtn glyphicon glyphicon-stats"><span class="btn-title">Rank</span></div>
                <div ng-click="modalHowToPlay('lg')" title="How to play" 
                     class="btn gameBtn glyphicon glyphicon-book"><span class="btn-title">Guide</span></div>            
                <div id="muteBtn" ng-click="toggleSound()" title="Sound on/off" 
                     class="btn gameBtn glyphicon" ng-class="{'glyphicon-volume-up': !soundDisabled(), 'glyphicon-volume-off': soundDisabled()}"><span class="btn-title">Sound</span></div>
                <div ng-click="restartGame()" title="New game" 
                     class="btn gameBtn glyphicon glyphicon-repeat"><span class="btn-title">New</span></div>
            </div>
        </div>

        <!--board game-->
        <div id="game-container" class="row">
            <gomokuboard ng-model="game"></gomokuboard>
            <div ng-if="game.gameOver">
                <div id="win" ng-if="game.players.self.isWinner > 0" class="row game-overlay">
                    <h1 class="lable-win">
                        <strong>You win!</strong>
                    </h1>
                    <h3>
                        <!--                        <a class="game-login-prompt" ng-if="facebook.loggedIn" ng-click="share()">
                                                    <i class="btn-facebook-share glyphicon glyphicon-share-alt"></i>
                                                    &nbsp;Share your achievement?
                                                </a>-->
                    </h3>
                    <div class="lower">
                        <div class="retry-button" ng-click='continue()'>
                            Another game
                            <br/><span ng-if="game.flagAskingAnotherGame" class="small-red-notice">Asking <strong>{{game.players.other.firstName}}</strong>...</span>
                        </div>
                        <a class="retry-button" ng-click='done()'>Finished</a>
                    </div>
                </div>

                <div id="gomoku-lost" ng-if="game.players.self.isWinner < 0" class="row game-overlay">
                    <h1 class="lable-win">
                        <strong>You lost!</strong>
                    </h1>
                    <div class="lower">
                        <a class="retry-button" ng-click='continue()'>Another game</a>
                        <a class="retry-button" ng-click='done()'>Finished</a>
                    </div>
                </div>

                <div id="gomoku-even" ng-if="game.players.self.isWinner === 0" class="row game-overlay">
                    <h1 class="lable-win">
                        <strong>You are even!</strong>
                    </h1>
                    <!--                    <h3>
                                            <a class="game-login-prompt" ng-if="facebook.loggedIn" ng-click="share()">
                                                <i class="btn-facebook-share glyphicon glyphicon-share-alt"></i>
                                                &nbsp;Share your achievement?
                                            </a>
                                        </h3>-->
                    <div class="lower">
                        <a class="retry-button" ng-click='continue()'>Another game</a>
                        <a class="retry-button" ng-click='done()'>Finished</a>
                    </div>
                </div>
                <div ng-if="game.isDone" class="row game-overlay">
                    <div ng-if="game.players.self.totalWons > game.players.other.totalWons">
                        <strong text-danger ng-if="game.forceEnd">{{game.players.other.firstName}} quit,<br/></strong>
                        <h1 class="lable-win">
                            <strong>Result: you win!</strong>
                        </h1>
                        <h3>
                            <a class="game-login-prompt" ng-if="facebook.loggedIn" ng-click="share()">
                                <i class="btn-facebook-share glyphicon glyphicon-share-alt"></i>
                                &nbsp;Share your victory?
                            </a>
                        </h3>
                    </div>
                    <div ng-if="game.players.self.totalWons === game.players.other.totalWons">
                        <h1 class="lable-win">
                            <span ng-if="game.forceEnd">{{game.players.other.firstName}} quit,<br/></span>
                            <strong>Result: you're tight!</strong>
                        </h1>
                        <h3>
                            <a class="game-login-prompt" ng-if="facebook.loggedIn" ng-click="share()">
                                <i class="btn-facebook-share glyphicon glyphicon-share-alt"></i>
                                &nbsp;Share your result?
                            </a>
                        </h3>
                    </div>
                    <div ng-if="game.players.self.totalWons < game.players.other.totalWons">
                        <h1 class="lable-win">
                            <span ng-if="game.forceEnd">{{game.players.other.firstName}} quit,<br/></span>
                            <strong>Result: you lost!</strong>
                        </h1>
                        <h3>
                            <!--                            <a class="game-login-prompt" ng-if="facebook.loggedIn" ng-click="share()">
                                                            <i class="btn-facebook-share glyphicon glyphicon-share-alt"></i>
                                                            &nbsp;Share your victory?
                                                        </a>-->
                        </h3>
                    </div>
                    <div class="lower">
                        <a class="retry-button" ng-click='quit()'>Back to menu</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>