<section data-ng-controller="GomokuMenuController" id="menu-pg-gomoku" class="menu-pg">
    <div class="row menu-header cloudy-block text-center">
        <!--<img src="modules/gomokus/img/gomoku-logo.jpg" alt="Gomoku"/>-->
        <h1>Gomoku</h1>
    </div>
    <div class="row">
        <div data-ng-click="challengeTheWorld()" class="row cloudy-block menu-body-item border-toggle border-toggle-lightblue">
            <div class="menu-body-item-textbox">
                <div>
                    <span class="glyphicon glyphicon-globe"></span>
                    <span>Challenge the world</span>
                </div>
            </div>
            <div class="menu-body-item-subbox text-center" data-ng-if="game.flagFindingOpponent">
                <span>
                    <img src="modules/core/img/loaders/loader2.gif" alt="Loading..."/>
                </span>
                Finding worthy opponent...
            </div>
        </div>
        <div class="row cloudy-block menu-body-item border-toggle border-toggle-lightblue">
            <div ng-click="playWithFriend()">
                <div class="menu-body-item-textbox">
                    <span class="glyphicon glyphicon-user"></span>
                    Play with friends
                    <!--<div class="glyphicon glyphicon-refresh" ng-if='game.flagToggleFriendList'></div>-->
                </div>

            </div>
            <div class="menu-body-item-subbox text-center" data-ng-if="game.flagToggleFriendList">
                <div ng-switch="Facebook.hasPermission('user_friends')">
                    <div class='scrollable'>
                        <table ng-switch-when="true" st-table="friends" class="table table-striped leaderboard-table">
                            <thead>
                                <tr>
                                    <th class="index-column">Index</th>
                                    <th>Face</th>
                                    <th>Name</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="row in friends">
                                    <td class="index-column">{{$index + 1}}</td>
                                    <td class='column-img'>
                                        <!--<img ng-if="!row.user.providerData.id" class="user-leaderboard-img" src="/modules/users/img/facebook-default-avatar2.png" alt="Face"/>-->

                                        <a target="blank" href="{{row.providerData.link}}">
                                            <img class="user-leaderboard-img" ng-src="http://graph.facebook.com/{{row.username}}/picture" alt="Face"/>
                                        </a>
                                    </td>
                                    <td>{{row.displayName}}</td>

                                    <td ng-switch="row.status">
                                        <span ng-switch-when="1" ng-click="inviteFriend('{{row.socketId}}')">
                                            <span  class="btn btn-sm btn-info" ng-if='!game.flagRequestingFriends[row.socketId]'>Invite</span>
                                            <span  class="btn btn-sm btn-info disabled" ng-if='game.flagRequestingFriends[row.socketId]'>Invited</span>
                                        </span>

                                        <span ng-switch-when="0">Offline</span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div ng-switch-when="false">
                        <h2 class='leader-request-btn' ><a data-ng-click='reRequestFriends()'>Play with friends?</a></h2>
                    </div>
                </div>
            </div>
        </div>
        <a href="/#!/">
            <div class="row cloudy-block menu-body-item border-toggle border-toggle-lightblue">
                <span class="menu-body-item-textbox">
                    <span class="glyphicon glyphicon-cog"></span>
                    Setting
                </span>
            </div>
        </a>

        <div ng-click="backToMenu()" class="row cloudy-block menu-body-item border-toggle border-toggle-lightblue">
            <span class="menu-body-item-textbox">
                <span class="glyphicon glyphicon-arrow-left"></span>
                Back
            </span>
        </div>
    </div>
</section>