<div class="modal-div">
    <div class="modal-header">
        <h3 class="modal-title"><strong>Reload old game?</strong></h3>
    </div>
    <div class="modal-body">
        <p>
            You had an old <strong>saved game</strong>!<br/>
            Would you like to <strong>reload</strong> that one or <strong>continue</strong> the current?
        </p>
    </div>
    <div class="modal-footer">
        <button class="btn btn-md btn-next" ng-click="no()">Continue</button>
        <button class="btn btn-md btn-ok" ng-click="yes()">Reload</button>
    </div>
</div>