<div ng-if='ngModel' class="tile position-{{ ngModel.x}}-{{ ngModel.y}}" 
     ng-class="{'tile-new': ngModel.new}">
    <span ng-if="!ngModel.value">
        <img ng-if="!ngModel.new && !ngModel.isWinningTile" ng-src="modules/gomokus/img/chess-black.png" alt="x"/>
        <img ng-if="ngModel.new || ngModel.isWinningTile" ng-src="modules/gomokus/img/chess-highlight-black.png" alt="x"/>
        <!--<img ng-if="!ngModel.isWinningTile" class="winning-tile" ng-src="modules/gomokus/img/chess-highlight-black.png" alt="x"/>-->
    </span>
    <span ng-if="ngModel.value">
        <img ng-if="!ngModel.new && !ngModel.isWinningTile" ng-src="modules/gomokus/img/chess-white.png" alt="x"/>
        <img ng-if="ngModel.new || ngModel.isWinningTile" ng-src="modules/gomokus/img/chess-highlight-white.png" alt="x"/>
        <!--<img ng-if="!ngModel.isWinningTile" class="winning-tile" ng-src="modules/gomokus/img/chess-highlight-white.png" alt="x"/>-->
    </span>
</div>
