@media (min-width: 992px) {
    .nav-users {
        position: fixed;
    }
}
.remove-account-container {
    display: inline-block;
    position: relative;
}
.btn-remove-account {
    top: 10px;
    right: 10px;
    position: absolute;
}

.login-form-bg {
    background-color: white;
    border: 15px solid;
    border-radius: 15px;
    border-color:white;
    margin-top:50px;
}

.user-div-facebook {
    margin-top: 20px;
}
.facebook-btn {
    width: 100%;
    border-radius: 5px;
    margin-bottom: 12px;
    max-height: 55px;
}

.signin .alert {
    margin-bottom: 5px;
}

.user-pg-authentication h3 {
    margin-top: 10px;
}

.user-pg-authentication .user-div-error {
    margin-top: 10px;
}

.signin button {
    height: 46px;
    font-size: 18px;
}