<div class="cloudy-block">
    <section data-ng-controller="GamesController as gameCtrl" class="game-pg-2048">
        <!--heading-->
        <div class="heading row">
            <div class="title text-center">
                <!--2048-->
            </div>
            <div class="scores-container text-right">
                <div class="current-score-container" ng-class="{'animate-pop': gameCtrl.game.hasCombo}">{{gameCtrl.game.currentScore| number}}</div>
                <div class="best-score-container" ng-bind="gameCtrl.game.highScore | number">0</div>
            </div>      
        </div>

        <!--instruction-->
        <div class="instructions row">
            <div class="text-right">
                <div ng-click="gameCtrl.modalLeaderboard()" title="Leaderboard" 
                     class="btn gameBtn glyphicon glyphicon-stats"><span class="btn-title">Rank</span></div>
                <div ng-click="gameCtrl.modalHowToPlay('lg')" title="How to play" 
                     class="btn gameBtn glyphicon glyphicon-book"><span class="btn-title">Guide</span></div>            
                <div id="muteBtn" ng-click="gameCtrl.toggleSound()" title="Sound on/off" 
                     class="btn gameBtn glyphicon" ng-class="{'glyphicon-volume-up': !gameCtrl.soundDisabled(), 'glyphicon-volume-off': gameCtrl.soundDisabled()}"><span class="btn-title">Sound</span></div>
                <div ng-click="gameCtrl.restartGame()" title="New game" 
                     class="btn gameBtn glyphicon glyphicon-repeat"><span class="btn-title">New</span></div>
            </div>
        </div>

        <!--board game-->
        <div id="game-container" class="row">
            <grid ng-model="gameCtrl.game"></grid>
            <div ng-if="gameCtrl.game.gameOver" class="row game-overlay game-over">
                <h1 class="lable-win"><strong>Game over</strong></h1>               
                <h4 ng-if="gameCtrl.game.setNewRecord">
                    ...but you set a new record!<br/>
                    <a data-ng-if="!gameCtrl.facebook.loggedIn" class="game-login-prompt" ng-click="gameCtrl.facebook.login()">Login Facebook to save score?</a>
                    <a class="game-login-prompt" ng-if="gameCtrl.facebook.loggedIn" ng-click="gameCtrl.share()">
                        <i class="btn-facebook-share glyphicon glyphicon-share-alt"></i>
                        &nbsp;Share your achievement?
                    </a>
                </h4> </br>
                <div class="lower">
                    <a class="retry-button" ng-click="gameCtrl.restartGame()">Try again</a>
                </div>
            </div>

            <div id="win" ng-if="gameCtrl.game.win && !gameCtrl.game.keepPlaying" class="row game-overlay">
                <h3>Congratulation,</h3>
                <h1 class="lable-win">
                    <strong>You win!</strong>
                </h1>
                <h3>
                    <a class="game-login-prompt" ng-if="!gameCtrl.facebook.loggedIn" ng-click="gameCtrl.facebook.login()">
                        <i class="btn-facebook-share"></i>
                        Login Facebook to save score?
                    </a>
                    <a class="game-login-prompt" ng-if="gameCtrl.facebook.loggedIn" ng-click="gameCtrl.share()">
                        <i class="btn-facebook-share glyphicon glyphicon-share-alt"></i>
                        &nbsp;Share your achievement?
                    </a>
                </h3>
                <div class="lower">
                    <a class="retry-button" ng-click='gameCtrl.continue()'>Continue game</a>
                    <a class="retry-button" ng-click='gameCtrl.restartGame()'>New game</a>
                </div>
            </div>
        </div>

        <!--instruction-->
        <!--        <div class="instructions row fb-row-btns">
                    <div class="text-right">
                        <div ng-click="gameCtrl.facebook.onChallenge()" title="Invite" 
                             class="btn gameBtn glyphicon glyphicon-user"><span class="btn-title">Invite</span></div>
                        <div ng-click="gameCtrl.shareGame()" title="Share" 
                             class="btn gameBtn glyphicon glyphicon-share-alt"><span class="btn-title">Share</span></div>            
                        <div ng-click="gameCtrl.facebook.like()" title="Like" 
                             class="btn gameBtn glyphicon glyphicon-thumbs-up"><span class="btn-title">Like</span></div>
                    </div>
                </div>-->

        <!--explaination-->
        <!--        <div class="row how-to-play">
                    <hr>
        
                    footer                
                    <hr>
                    <div class="footer">
                        <div class="row">
                            <div class="footer-div footer-brand">
                                <strong>&copy;2015 CloudySky</strong>
                            </div>
                            <div class="footer-div footer-btns">
                                <img class="footer-btn" src="modules/users/img/buttons/facebook.png" alt="Facebook"/>
                                <img class="footer-btn" src="modules/users/img/buttons/twitter.png" alt="Twitter"/>
                                <img class="footer-btn" src="modules/users/img/buttons/google.png" alt="Google"/>
                            </div>
                        </div>
                        <br/>Based on open source project <a href="http://gabrielecirulli.github.io/2048/" target="_blank">2048</a> by Gabriele Cirulli
                        <div class="row footer-menu">
                            <a>About us</a>
                            <a>Private Policy</a>
                            <a>Contact us</a>
                        </div>
                    </div>
                </div>  -->
    </section>
</div>