<div class="game-{{ngModel.gameSize}}" hm-swipe-left="ngModel.move('left')" hm-swipe-right="ngModel.move('right')" hm-swipe-up="ngModel.move('up')" hm-swipe-down="ngModel.move('down')">
    <div class="grid-container">
        <div class="grid-cell" ng-repeat="cell in ngModel.grid track by $index"></div>
    </div>
    <div class="tile-container">
        <tile ng-model="tile" ng-repeat="tile in ngModel.tiles track by $id(tile.id || $index)"></tile>
    </div>
    <!--preload the tiles images-->
<!--    <div class="tile-img-loader" hidden="hidden">
        <span class="hidden-tile-4"></span>
        <span class="hidden-tile-8"></span>
        <span class="hidden-tile-16"></span>
        <span class="hidden-tile-32"></span>
        <span class="hidden-tile-64"></span>
        <span class="hidden-tile-128"></span>
        <span class="hidden-tile-256"></span>
        <span class="hidden-tile-512"></span>
        <span class="hidden-tile-1024"></span>
        <span class="hidden-tile-2048"></span>
        <span class="hidden-tile-4096"></span>
    </div>-->
</div>