<div class="modal-div">
    <div class="modal-header">
        <h3 ng-if="content.howtoplay" class="modal-title"><strong>How to play</strong></h3>
        <h3 ng-if="content.newrules" class="modal-title"><strong>Scoring rule</strong></h3>
        <h3 ng-if="content.tips" class="modal-title"><strong>Tips</strong></h3>
    </div>
    <div class="modal-body">
        <p ng-if="content.howtoplay">
            1. Use <strong>arrow keys (or W,A,S,D)</strong> or <strong>wipe the board screen</strong> to move the tiles.
            <br/>
            2. When two tiles with the same number touch, they <strong>merge into one!</strong> 
            <br/>
            3. Be the winner when you've got to tile <strong>2048</strong>.
            <br/>
            4. <strong>Endless mode</strong> will be available after winning for competing high scores.
        </p>
        <p ng-if="content.newrules">
            1. Get points equal to the <strong>merged tile's value</strong>.
            <br/>
            2. Score <strong>special</strong> point when you succeed to merge <strong>two or more</strong> pairs of tiles in <strong>one move</strong>. 
            <br/>
            3. E.g, merging two tile 2, you'll get 4 points, but merging two tile 2 and two tile 4 in <strong>one move</strong>, you'll get <strong>24</strong> points instead of 12.
        </p>
        <p ng-if="content.tips">
            1. Your game <strong>won't be lost</strong> if the page is reload because it is <strong>saved</strong> after each move.
            <br/>
            2. Your high score will only be <strong>showed on Leaderboard</strong> when you finish the game and set a new record. 
            <br/>
            3. Disable sounds if you experience <strong>slowness</strong>.
        </p>
    </div>
    <div class="modal-footer">
        <button class="btn btn-md btn-next" ng-if="canNext()" ng-click="next()">Next</button>
        <button class="btn btn-md btn-ok" ng-click="ok()">Got it</button>
    </div>
</div>