<div class="leaderboard-modal modal-div">
    <div class="modal-header">
        <h3 class="modal-title"><strong>Leaderboard</strong></h3>
    </div>
    <div class="modal-body">
        <div>
            <tabset>
                <tab heading="World" ng-click="toggleTabFriend(false)">
                    <div class='scrollable-content'>
                        <table st-table="toppers" class="table table-striped leaderboard-table">
                            <thead>
                                <tr>
                                    <th class="index-column">Rank</th>
                                    <th>Face</th>
                                    <th>Name</th>
                                    <th>Score</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="row in toppers">
                                    <td class="index-column">{{$index + 1}}</td>
                                    <td class='column-img'>

                                        <!--<img ng-if="!row.user.providerData.id" class="user-leaderboard-img" src="/modules/users/img/facebook-default-avatar2.png" alt="Face"/>-->

                                        <a target="blank" href="{{row.user.providerData.link}}">
                                            <img class="user-leaderboard-img" ng-src="http://graph.facebook.com/{{row.user.providerData.id}}/picture" alt="Face"/>
                                        </a>
                                    </td>
                                    <td>{{row.user.displayName}}</td>                         
                                    <td>{{row.highScore| number}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </tab>
                <tab heading="Friends" ng-click="getTopFriends();
                    toggleTabFriend(true)">
                    <div class='scrollable-content'>
                        <table ng-if="hasFriendPermission()" st-table="friends" class="table table-striped leaderboard-table">
                            <thead>
                                <tr>
                                    <th class="index-column">Rank</th>
                                    <th>Face</th>
                                    <th>Name</th>
                                    <th>Score</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="row in friends">
                                    <td class="index-column">{{$index + 1}}</td>
                                    <td class='column-img'>
                                        <!--<img ng-if="!row.user.providerData.id" class="user-leaderboard-img" src="/modules/users/img/facebook-default-avatar2.png" alt="Face"/>-->

                                        <a target="blank" href="{{row.user.providerData.link}}">
                                            <img class="user-leaderboard-img" ng-src="http://graph.facebook.com/{{row.user.providerData.id}}/picture" alt="Face"/>
                                        </a>
                                    </td>
                                    <td>{{row.user.displayName}}</td>
                                    <td>{{row.highScore| number}}</td>
                                </tr>
                            </tbody>
                        </table>
                        <h2 class='leader-request-btn' ng-if="!hasFriendPermission()"><a data-ng-click='reRequestFriends()'>Play with friends?</a></h2>
                    </div>
                </tab>
                <!--                <tab heading="Me">
                                    <div class=''>
                                        Score: 100
                                        Share
                                        Challenge
                                    </div>
                                </tab>-->
            </tabset>
        </div>
    </div>
    <div class="modal-footer">
        <div data-ng-if="flagTabFriend" class="fb-btns">
            <button  class="btn btn-md" ng-click="facebook.onChallenge()">
                <i class="glyphicon glyphicon-user"></i>
                &nbsp;Invite
            </button>
<!--            <button data-ng-if="flagTabFriend" class="btn btn-md" ng-click="facebook.onChallenge()">
                <i class="glyphicon glyphicon-fire"></i>
                &nbsp;Challenge
            </button>-->
        </div>
        <button class="btn btn-md btn-ok" ng-click="ok()">Ok, great</button>
    </div>
</div>