<div ng-if='ngModel' class="tile position-{{ ngModel.x }}-{{ ngModel.y }} tile-{{ ngModel.value }}" 
  ng-class="{ 'tile-merged': ngModel.merged, 'tile-new': ngModel.new}">
  <div class="tile-inner tile-pop" data-ng-bind="ngModel.value">
  </div>
</div>
