@import "../../core/css/_functions";

$screen-xs-sm: 375px; 
$screen-md: 640px;
$screen-lg: 1200px;

$width: 304px;          //the width of the entire board 
$width-xs-sm: 399px;
$width-md: 475px;
$width-lg: 608px;


$default-tile-count:19;

$tile-padding: 0.5px;    // the padding between tiles
$tile-padding-xs-sm: 1px;
$tile-padding-md: 1.5px;
$tile-padding-lg: 2px;

$tile-radius: 0px;
$tile-inner-radius: 0px;

$tile-size: ($width - $tile-padding * ($default-tile-count * 2)) / $default-tile-count;
$tile-xs-sm: ($width-xs-sm - $tile-padding-xs-sm * ($default-tile-count * 2)) / $default-tile-count;
$tile-md: ($width-md - $tile-padding-md * ($default-tile-count * 2)) / $default-tile-count;
$tile-lg: ($width-lg - $tile-padding-lg * ($default-tile-count * 2)) / $default-tile-count;

$main-color: #1b809e;
/*$tile-font: 'Open Sans', sans-serif;*/
$tile-color: #eee4da;
/*$tile-color: #c13832;*/
/*$tile-gold-color: #edc22e;*/
/*$tile-gold-glow-color: lighten($tile-gold-color, 15%);*/

$game-container-background: #bbada0;
/*$game-board-background: #ce4844;*/
/*$game-board-background: #c13832;*/
$game-board-background: #bdada2;
/*background: #bbaaa0;*/
$grid-background: #eee;
$background-color: #eee;
/*$game-container-background: #eee;*/
$text-color: #776E65;
$bright-text-color: #f9f6f2; 

$colors:  #EEE4DA, // 2
#EDE0C8, // 4
#F2B179, // 8
#EC8D54, // 16
#F67C5F, // 32
#EA5937, // 64
#F3D86B, // 128
#F1D04B, // 256
#E4C02A, // 512
#F1DA13, // 1024
#FDE300, // 2048
#FDEE00; //4096

$transition-time: 120ms;
$transition-speed: 100ms;
/*-----------------END VARIABLES ----------------------*/

.modal-dialog {
    width: $width;
    margin:0 auto;
    /*margin-top: 136px;*/
    margin-top: 51px;
    font-size: 14.5px;

    .modal-footer, .modal-header {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .modal-content {
        background-color: #ffffff;
        background-color: rgba(255, 255, 255, 0.9);
    }
    .modal-body {
        /*min-height: $width - 172px;*/
        padding-top: 0;
        padding-bottom: 0;
    }

    .btn-next {
        background-color: #EAE0C8;
    }
    .btn-ok {
        background-color: #cef030;
    }

    @media screen and (min-width: $screen-xs-sm) {
        margin-top: 105px;
        width: $width-xs-sm;
        font-size: 16px;
    }
    @media screen and  (min-width: $screen-md) {
        margin-top: 110px;
        width: $width-md;
        font-size: 19px;
    }
    @media screen and  (min-width: $screen-lg) {
        margin-top: 110px;
        width: $width-lg;
        font-size: 19px;
    }
}

.leaderboard-modal {
    .nav-tabs li {
        width: 50%;
        text-align: center;
    }
    .modal-body {
        padding-right: 0;
        padding-left:0;
    }
    .scrollable-content {
        height: 210px;
        overflow-y: scroll;
        overflow-x: hidden;

        @media screen and (min-width: $screen-xs-sm) {
            height: $width-xs-sm - 119px;
        }
        @media screen and  (min-width: $screen-md) {
            height: $width-md - 119px;
        }
        @media screen and  (min-width: $screen-lg) {
            height: $width-lg - 119px;
        }

        .index-column {
            padding-left: 10px;
        }
    }
    .leaderboard-table .column-img {
        padding: 0;
    }
    .leaderboard-table .user-leaderboard-img {
        height: 35px;
        padding-top: 1px;
        @media screen and (min-width: $screen-xs-sm) {
            height: 36px;
        }
        @media screen and  (min-width: $screen-md) {
            height: 41px;
        }
        @media screen and  (min-width: $screen-lg) {
            height: 41px;
        }
    }
    .leader-request-btn {
        text-align: center;
        margin-top: 80px
    }
    .leader-request-btn a {
        text-decoration: none;
    }

    .fb-btns {
        float: left;
    }
    .fb-btns button:hover {
        background-color: #428bca;
        color: white;
    }
}

.game-pg-gomoku {    
    width: $width;
    color: $text-color;
    margin: 0 auto;
    padding: 5px 0 15px 0;

    a {
        color: $text-color;
        font-weight: bold;
        /*text-decoration: underline;*/
        cursor: pointer;
        &:hover {
            color: darken($text-color, 5%);
        }
    }

    @media screen and (min-width: $screen-xs-sm) {
        width: $width-xs-sm;
    }
    @media screen and  (min-width: $screen-md) {
        width: $width-md;
    }
    @media screen and  (min-width: $screen-lg) {
        width: $width-lg;
    }


    .heading {
        width: 100%;
        $heading-height: 65px;

        .title{
            width: 21%;
            float: left;
            img {
                height: 100%;
                @include border-radius(6px);
            }
        }

        .scores-container {
            float: right;
            width: 76%;
            /*line-height: $heading-height;*/
            height: 100%;
        } 

        .panel-user {
            $inner-height: 14px;
            background: $game-container-background;
            /*padding: 5px;*/
            width: 35%;
            font-size: $inner-height;
            color: white;
            border: 2px solid $background-color;
            .user-img {
                height: 50px;
                max-width: 55px;
            }
            
            &.panel-turn {
                border-color: $main-color;
            }
        }

        .panel-score {
            width: 25%;
            font-size: 33px;
            color: $text-color;
        }

        .panel-score, .panel-user {
            $inner-height: 14px;
            height: 100%;
            display: inline-block;
            float:right;
            /*line-height: $inner-height + 31px;*/
            font-weight: bold;
            @include border-radius(5px);
            text-align: center; 
            padding-top: 8px;
        }

        @media screen and (min-width: $screen-xs-sm) {
            /*margin-top: 4px;*/
            .current-score-container, .best-score-container {
                $inner-height: 15px;
                font-size: $inner-height;
                height: $inner-height + 43px;
                line-height: $inner-height + 35px;
            }
        }
        @media screen and  (min-width: $screen-md) {
            /*margin-top: 6px;*/
            .current-score-container, .best-score-container {
                $inner-height: 16px;
                font-size: $inner-height;
                height: $inner-height + 45px;
                line-height: $inner-height + 35px;
            }
        }
        @media screen and  (min-width: $screen-lg) {
            $heading-height: 65px;
            height: $heading-height;
            /*margin-top: 6px;*/
            .panel-user {
                $inner-height: 16px;
                font-size: $inner-height;
                /*height: $heading-height;*/
                /*line-height: $inner-height + 35px;*/
            }
        }

        .current-score-container {
            margin-right: 2%;
        }
    }

    .instructions {
        /*    padding-top: 0.5em;*/
        margin-bottom:0.4em;
        height: 1.8em;
        margin-right: 5px;

        .gameBtn {
            font-size: 15px;
            padding-right: 1%;
            padding-bottom: 3px;
        }

        .btn-title {
            padding-left: 3px;
        }
    }

    .game-overlay{
        width: $width;
        height: $width;
        /*    width: 100%;
            height: 100%;*/
        background-color: #ffffff;
        background-color: rgba(255, 255, 255, 0.6);
        position: relative;
        /*top: 8.64em;*/
        /*left: 30%;*/
        z-index: 10;
        text-align: center;
        padding-top: 7%;
        /*font-size: 3em;*/
        font-weight: bold;
        overflow: hidden;
        @include box-sizing(border-box);
        float: left;
        margin-left: 15px;
        margin-top: -316px;

        .game-login-prompt {
            font-size: 20px;
            text-decoration: none;
        }

        h1 {
            font-size: 32px;
        }
        .lable-win {
            /*margin-bottom: 0.8em;*/
            margin-top: 0;
        }
        .game-over {
            padding-top: 18%;
            h1 {
                font-size: 45px;
            }
            .lower {
                margin-top: 10px;
            }
            @media screen and (min-width: $screen-xs-sm) {
                h1 {
                    font-size: 50px;
                }
            }
            @media screen and  (min-width: $screen-md) {
                h1 {
                    font-size: 55px;
                }
            }
            @media screen and  (min-width: $screen-lg) {
                h1 {
                    font-size: 55px;
                }
            }
        }

        .lower {
            display: block;
            margin-top: 30px;
            font-size: 18px;

            a {
                display: inline-block;
                background: #8f7a66;
                @include border-radius(3px);
                padding: 0 17px;
                text-decoration: none;
                color: #f9f6f2 !important;
                height: 40px;
                line-height: 40px;
                cursor: pointer;
                margin-left: 9px;
            }

            .game-login-prompt {
                background: none;
                color: #8f7a66 !important;
                margin-top:15px;
            }
        }

        @media screen and (min-width: $screen-xs-sm) {
            width: $width-xs-sm;
            height: $width-xs-sm;
            margin-top: -370px;
            /*padding-top: 22%;*/
            h1 {
                font-size: 44px;
            }
            .lable-win {
                margin-bottom: 30px;
            }
            .lower {
                margin-top: 40px;
                font-size: 19px;
            }
            .game-login-prompt {
                font-size: 23px;
            }
        }
        @media screen and  (min-width: $screen-md) {
            width: $width-md;
            height: $width-md;
            margin-top: -420px;
            /*padding-top: 21%;*/
            h1 {
                font-size: 52px;
            }
            .lable-win {
                margin-bottom: 30px;
            }
            .lower {
                margin-top: 55px;
                font-size: 22px;
            }
            .game-login-prompt {
                font-size: 26px;
            }
        }
        @media screen and  (min-width: $screen-lg) {
            width: $width-lg;
            height: $width-lg;
            margin-top: -420px;
            /*padding-top: 21%;*/
            h1 {
                font-size: 52px;
            }
            .lable-win {
                margin-bottom: 30px;
            }
            .lower {
                margin-top: 55px;
                font-size: 22px;
            }
            .game-login-prompt {
                font-size: 26px;
            }
        }

        &.ng-enter {
            @include transition(all 1000ms ease-in);
            /*@include transform(translate(0, 100%));*/
            opacity: 0;
        }

        &.ng-enter-active {
            /*@include transform(translate(0, 0));*/
            opacity: 1;
        }
    }

    @mixin game-board($tile-count) {
        .game-board { 
            position: relative;
            /*padding: $tile-padding;*/
            cursor: pointer;
            /*background: #bbaaa0;*/
            /*background: #bdada2;*/
            /*background: #c8e2dc;*/ //light blue
            /*background: #a192b4;*/ //purple
            /*background: $game-board-background;*/
            background: url('../img/goban3.jpg');
            @include border-radius(0.5em);
            /*@include box-sizing(border-box);*/
            width: $width;
            height: $width;
            background-size: $width;
            margin: 0 auto;

            @media screen and (min-width: $screen-xs-sm) {
                width: $width-xs-sm;
                height: $width-xs-sm;
                background-size: $width-xs-sm;
                /*padding: $tile-padding-xs-sm;*/
            }
            @media screen and  (min-width: $screen-md) {
                width: $width-md;
                height: $width-md;
                background-size: $width-md;
                /*padding: $tile-padding-md;*/
            }
            @media screen and  (min-width: $screen-lg) {
                width: $width-lg;
                height: $width-lg;
                background-size: $width-lg;
                /*padding: $tile-padding-lg;*/
            }

            .grid-container {
                position: absolute;
                z-index: 1;
                margin: 0 auto;

                .grid-cell {
                    width: $tile-size;
                    height: $tile-size;
                    margin: $tile-padding;
                    /*margin-bottom: $tile-padding;*/
                    /*margin-right: $tile-padding;*/
                    float: left;
                    &.grid-white:hover {
                        /*background: $grid-background;*/
                        background: url('../img/chess-white.png');
                        background-size: $tile-size;
                        @include opacity(0.4);
                    }
                    &.grid-black:hover {
                        /*background: $grid-background;*/
                        background: url('../img/chess-black.png');
                        background-size: $tile-size;
                        @include opacity(0.4);
                    }
                    /*@include border-radius($tile-radius);*/
                    /*background: rgba(238, 228, 218, 0.35);*/
                    /*background: #ccc0b4;*/
                    /*background: $grid-background;*/
                    /*                    &:last-child {
                                            margin-right: 0;
                                        }*/

                    @media screen and (min-width: $screen-xs-sm) {
                        width: $tile-xs-sm;
                        height: $tile-xs-sm;
                        /*margin-bottom: $tile-padding-xs-sm;*/
                        /*margin-right: $tile-padding-xs-sm;*/
                        margin: $tile-padding-xs-sm;
                        &.grid-white:hover, &.grid-black:hover{
                            background-size: $tile-xs-sm;
                        }
                    }
                    @media screen and  (min-width: $screen-md) {
                        width: $tile-md;
                        height: $tile-md;
                        /*margin-bottom: $tile-padding-md;*/
                        /*margin-right: $tile-padding-md;*/
                        margin: $tile-padding-md;
                        &.grid-white:hover, &.grid-black:hover {
                            background-size: $tile-md;
                        }
                    }
                    @media screen and  (min-width: $screen-lg) {
                        width: $tile-lg;
                        height: $tile-lg;
                        /*margin-bottom: $tile-padding-lg;*/
                        /*margin-right: $tile-padding-lg;*/
                        margin: $tile-padding-lg;
                        &.grid-white:hover, &.grid-black:hover {
                            background-size: $tile-lg;
                        }
                    }
                }
            }

            .tile-container {
                position: absolute;
                z-index: 2;

                /*                .tile-new img {
                                    @include animation(appear $transition-time*4 ease $transition-speed);
                                    @include animation-fill-mode(backwards);
                                }*/

                .tile {
                    position: absolute;
                    z-index: 2;
                    img {
                        width: $tile-size;
                        height: $tile-size;
                    }

                    @media screen and (min-width: $screen-xs-sm) {
                        img {
                            width: $tile-xs-sm;
                            height: $tile-xs-sm;
                        }
                    }
                    @media screen and  (min-width: $screen-md) {
                        img {
                            width: $tile-md;
                            height: $tile-md;
                        }
                    }
                    @media screen and  (min-width: $screen-lg) {
                        img {
                            width: $tile-lg;
                            height: $tile-lg;
                        }
                    }

                    @for $x from 1 through $tile-count {
                        @for $y from 1 through $tile-count {
                            $zeroOffsetX: $x - 1;
                            $zeroOffsetY: $y - 1;
                            $newX: ($tile-size) * ($zeroOffsetX) + ($tile-padding * 2 * $zeroOffsetX) + $tile-padding;
                            $newY: ($tile-size) * ($zeroOffsetY) + ($tile-padding * 2 * $zeroOffsetY) + $tile-padding;
                            &.position-#{$zeroOffsetX}-#{$zeroOffsetY} { 
                                @include transform(translate($newX, $newY));
                            }

                            @media screen and (min-width: $screen-xs-sm) {
                                $newX: ($tile-xs-sm) * ($zeroOffsetX) + ($tile-padding-xs-sm * 2 * $zeroOffsetX) + $tile-padding-xs-sm;
                                $newY: ($tile-xs-sm) * ($zeroOffsetY) + ($tile-padding-xs-sm * 2 * $zeroOffsetY) + $tile-padding-xs-sm;
                                &.position-#{$zeroOffsetX}-#{$zeroOffsetY} { 
                                    @include transform(translate($newX, $newY));
                                }
                            }
                            @media screen and  (min-width: $screen-md) {
                                $newX: ($tile-md) * ($zeroOffsetX) + ($tile-padding-md * 2 * $zeroOffsetX) + $tile-padding-md;
                                $newY: ($tile-md) * ($zeroOffsetY) + ($tile-padding-md * 2 * $zeroOffsetY) + $tile-padding-md;
                                &.position-#{$zeroOffsetX}-#{$zeroOffsetY} { 
                                    @include transform(translate($newX, $newY));
                                }
                            }
                            @media screen and  (min-width: $screen-lg) {
                                $newX: ($tile-lg) * ($zeroOffsetX) + ($tile-padding-lg * 2 * $zeroOffsetX) + $tile-padding-lg;
                                $newY: ($tile-lg) * ($zeroOffsetY) + ($tile-padding-lg * 2 * $zeroOffsetY) + $tile-padding-lg;
                                &.position-#{$zeroOffsetX}-#{$zeroOffsetY} { 
                                    @include transform(translate($newX, $newY));
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    @include game-board($default-tile-count);

    @include keyframes(pop) {
        0% {
            @include transform(scale(1));
        }
        70% {
            @include transform(scale(1.2));
        }
        100% {
            @include transform(scale(1));
        }
    }

    @include keyframes(appear) {
        0% {
            opacity: 0;
            @include transform(scale(0));
        }
        50% {
            opacity: 0;
            @include transform(scale(0));
        }
        100% {
            opacity: 1;
            @include transform(scale(1));
        } 
    }
}
