/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 25, 2015, 4:49:12 PM
    Author     : david
*/
@import "../../core/css/_functions";
$appear-time: 100ms;

#menu-pg-gomoku {
    color: #1b809e;
    a {
        color: #1b809e;
    }
}

.menu-pg {
    font-size: 16px;
    /*text-align: center;*/

    .menu-header{
        margin-bottom: 5px;
        padding:45px 20px;
        h1 {
            font-size: 50px;
        }
    }

    .menu-body-item {
        /*line-height: 15px;*/
        cursor: pointer;
        padding: 20px;
        float: left;
        width: 100%;
        .menu-body-item-textbox {
            width: 200px;
            display: block;
            /*text-align: left;*/
            margin: 0 auto;
            font-weight: 600;
            .glyphicon-refresh {
                position: relative;
                right: -90px;
            }
        }
        .menu-body-item-subbox {
            color: black;
            margin-top: 10px;
            font-size: 14px;
            img {
                width: 20px;
                margin-right: 10px;
            }
        }
    }

    .glyphicon {
        margin-right: 10px;
    }

    @include keyframes(appear) {
        0% {
            opacity: 0;
            @include transform(scale(0));
        }
        100% {
            opacity: 1;
            @include transform(scale(1));
        } 
    }
}

