/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 25, 2015, 4:49:12 PM
    Author     : david
*/
#menu-pg-gomoku {
  color: #1b809e; }
  #menu-pg-gomoku a {
    color: #1b809e; }

.menu-pg {
  font-size: 16px;
  /*text-align: center;*/ }
  .menu-pg .menu-header {
    margin-bottom: 5px;
    padding: 45px 20px; }
    .menu-pg .menu-header h1 {
      font-size: 50px; }
  .menu-pg .menu-body-item {
    /*line-height: 15px;*/
    cursor: pointer;
    padding: 20px;
    float: left;
    width: 100%; }
    .menu-pg .menu-body-item .menu-body-item-textbox {
      width: 200px;
      display: block;
      /*text-align: left;*/
      margin: 0 auto;
      font-weight: 600; }
      .menu-pg .menu-body-item .menu-body-item-textbox .glyphicon-refresh {
        position: relative;
        right: -90px; }
    .menu-pg .menu-body-item .menu-body-item-subbox {
      color: black;
      margin-top: 10px;
      font-size: 14px; }
      .menu-pg .menu-body-item .menu-body-item-subbox img {
        width: 20px;
        margin-right: 10px; }
  .menu-pg .glyphicon {
    margin-right: 10px; }
@-webkit-keyframes appear {
  0% {
    opacity: 0;
    -ms-transform: scale(0);
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0); }
  100% {
    opacity: 1;
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); } }
@-moz-keyframes appear {
  0% {
    opacity: 0;
    -ms-transform: scale(0);
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0); }
  100% {
    opacity: 1;
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); } }
@-o-keyframes appear {
  0% {
    opacity: 0;
    -ms-transform: scale(0);
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0); }
  100% {
    opacity: 1;
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); } }
@keyframes appear {
  0% {
    opacity: 0;
    -ms-transform: scale(0);
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0); }
  100% {
    opacity: 1;
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); } }

/*# sourceMappingURL=menu.css.map */
