<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
	<title>{{title}}</title>

	<!-- General META -->
	<meta charset="utf-8">
	<meta http-equiv="Content-type" content="text/html;charset=UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">

	<!-- Semantic META -->
	<meta name="keywords" content="{{keywords}}">
	<meta name="description" content="{{description}}">

	<!-- Facebook META -->
	<meta property="fb:app_id" content="{{facebookAppId}}">
	<meta property="og:site_name" content="{{title}}">
	<meta property="og:title" content="{{title}}">
	<meta property="og:description" content="{{description}}">
	<meta property="og:url" content="{{url}}">
	<meta property="og:image" content="/img/brand/logo.png">
	<meta property="og:type" content="website">

	<!-- Twitter META -->
	<meta name="twitter:title" content="{{title}}">
	<meta name="twitter:description" content="{{description}}">
	<meta name="twitter:url" content="{{url}}">
	<meta name="twitter:image" content="/img/brand/logo.png">

	<!-- Fav Icon -->
	<link href="/modules/core/img/brand/favicon.ico" rel="shortcut icon" type="image/x-icon">

	<!--Application CSS Files-->
	{% for cssFile in cssFiles %}<link rel="stylesheet" href="{{cssFile}}">{% endfor %}

	<!-- HTML5 Shim -->
	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>

<body class="ng-cloak">
	<header data-ng-include="'/modules/core/views/header.client.view.html'"></header>
	<section class="content">
		<section class="container">
			{% block content %}{% endblock %}
                        <footer class="row">
                                <div class="row">
                                    <div class="footer-div footer-brand">
                                        <strong>&copy;2015 CloudySky</strong>
                                    </div>
                                    <div class="footer-div footer-btns">
                                        <a href="https://www.facebook.com/cloudyboard" target="blank">
                                            <img class="footer-btn" src="modules/users/img/buttons/facebook.png" alt="Facebook"/>
                                        </a>
                                        <a href="https://twitter.com/cloudyboard" target="blank">
                                            <img class="footer-btn" src="modules/users/img/buttons/twitter.png" alt="Twitter"/>
                                        </a>
                                        <a href="https://plus.google.com/u/0/b/114838143529297610070/114838143529297610070/about/p/pub" target="blank">
                                            <img class="footer-btn" src="modules/users/img/buttons/google.png" alt="Google"/>
                                        </a>
                                    </div>
                                </div>
                                <!--<br/>Based on open source project <a href="http://gabrielecirulli.github.io/2048/" target="_blank">2048</a> by Gabriele Cirulli-->
                                <div class="row footer-menu">
                                    <a>About us</a>
                                    <a>Private Policy</a>
                                    <a>Contact us</a>
                                </div>
                        </footer>
		</section>
	</section>

	<!--Embedding The User Object-->
	<script type="text/javascript">
		var user = {{ user | json | safe }};
	</script>

	<!--Application JavaScript Files-->
	{% for jsFile in jsFiles %}<script type="text/javascript" src="{{jsFile}}"></script>{% endfor %} 

	{% if process.env.NODE_ENV === 'development' %}
	<!--Livereload script rendered -->
	<script type="text/javascript" src="http://{{request.hostname}}:35729/livereload.js"></script>
	{% endif %}
</body>

</html>